body
{
	background-color:$white;
	font-family:'Montserrat', sans-serif;
	
	article
	{
		@media only screen and (max-width : 992px)
		{
			padding:0 15px;
		}
	}
	
	section
	{
		overflow:hidden;	
	}
	
	header
	{
		margin:0 auto;
	
		/**************************************
			Navigation Styles
		**************************************/
		nav
		{		
			#navigation_bar_container
			{
				background-color:#FFFFFF;
				height:60px;
			
				@media only screen and (max-width : 769px)
				{
					height:50px;
				}
				
				&> div
				{
					float:none;
					min-height:100% !important;
					position:relative;
				}
				
				.navbar-header
				{
					display:block;
					position:absolute;
					right:5%;
					top:50%;
					
					@media only screen and (max-width : 769px)
				 	{
					 	display:block;
					}
					
					.navbar-toggle
					{
						@include transform(translateY(-50%));
						
						margin:0;
						position:absolute;
						right:0;
						top:50%;
						width:27px;
						
						&.slide-active
						{
							@include transition(all 500ms ease-in-out);
							
							span
							{
								&:nth-child(2)
								{
									@include transform(translate(-50%, -50%) rotate(45deg));
								}
								
								&:nth-child(3)
								{
									display:none;	
								}
								
								&:nth-child(4)
								{
									@include transform(translate(-50%, -50%) rotate(-45deg));
								}
							}
						}
						
						.icon-bar
						{
							@include transform(translate(-50%, -50%));
	
							background-color:$brand_blue;
							height:3px;
							left:50%;
							margin:0;
							position:absolute;
							top:50%;
							width:27px;
						}
						
						span
						{
							@include transform-origin(center center);
							@include transition(all 500ms ease-in-out);
							
							&:nth-child(2)
							{
								@include transform(translate(-50%, calc(-50% - 8px)));
							}
							
							&:nth-child(4)
							{
								@include transform(translate(-50%, calc(-50% + 8px)));
							}
						}
					}
				}
				
				#utility_nav_slide_right
				{
					@include justify-content(flex-end);
					@include display(flex);
					
					padding-right:0;
					
					@media only screen and (max-width : 769px)
					{
						padding:40px;	
					}
					
					#nav_links
					{
						@media only screen and (max-width : 769px)
						{
							float:none;
							margin:0;
						}
				
						ul
						{
							list-style:none;
							margin:0;
							padding:0;
							
							> li
							{
								display:inline-block;
								position:relative;
								z-index:6;
								
								@media only screen and (max-width : 769px)
								{
									display:block;
									margin-bottom:5px;
								}
								
								> a
								{
									color:$gray_body_copy;
									font-size:16px;
									margin-right:20px;
									position:relative;
									text-decoration:none;
									
									@media only screen and (max-width : 769px)
									{
										color:$white;
										display:block;
										font-size:18px;
										padding:12px 0;
									}
									
									&::after
									{
										@include transition(all 500ms ease);
									}
									
									&.active
									{
										color:$brand_red;
									}
									
									&:hover,
									&.active
									{
										@media only screen and (max-width : 769px)
										{
											color:$brand_red;
										}
										
										&::after
										{
											content:"";
											background-color:$brand_red;
											bottom:-8px;
											height:3px;
											left:0;
											position:absolute;
											width:100%;
											
											@media only screen and (max-width : 769px)
											{
												display:none;
											}
										}
									}
								}
								
								.sub_nav_links
								{
									@include transform(translate(-22px, 0));
									
									background-color:$white;
									display:none;
									list-style:none;
									margin:0;
									min-width:200px;
									padding:10px 15px;
									text-align:left;
									z-index:5;
									
									@media only screen and (max-width : 769px)
									{
										background-color:transparent;
										display:block;
										margin:0 0 0 30px;
										position:relative !important;
										
										li
										{
											margin:0 !important;
											
											a
											{
												color:$white !important;
												
												&:hover
												{
													color:$brand_red !important;
													text-decoration:none !important;
												}
											}	
										}	
									}
								}
								
								&:hover
								{
									.sub_nav_links
									{
										display:block;
										position:absolute;
										
										li
										{
											display:block;
											margin:10px 0;
											width:100%;
											
											a
											{
												color:$brand_red;
												display:block;
												
												&:hover
												{
													text-decoration:underline;
												}
												
												&::after
												{
													display:none;
												}
											}
										}
									}
								}
							}
						}
					}
					
					.nav_contact_number
					{
						@media only screen and (max-width : 769px)
						{
							margin-top:40px;
							text-align:center;
						}
					}
				}
				
				.esana_logo
				{
					@include transform(translateY(4px));
					
					@media only screen and (max-width : 762px)
					{
						@include transform(translateY(-50%));
						
						position:absolute;
						top:54%;
					}
				}
			}
		}
		
		.utility_nav
		{			
			@media only screen and (max-width : 769px)
			{
				@include transition(all 500ms ease-in-out);
				
				display:block !important;
				height:100% !important;
			    left:-80%;
			    margin:0;
			    min-width:0;
			    overflow:hidden;
			    padding-left:0;
			    padding-right:0;
			    position:fixed;
			    text-align:left;
			    top:0;
			    width:80%;
			    z-index:1032;
			    
			    &.slide-active
			    {
				    left:0;
			    }
			}
		}
		
		#navbar-height-col
		{
			@include transition(all 500ms ease-in-out);
			
			background-color:$brand_blue;
			
			@media only screen and (max-width : 769px)
			{
				bottom:0;
				height:100%;
			    left:-80%;
			    opacity:1;
			    position:fixed;
			    top:0;
			    visibility:visible;
			    width:80%;
			    z-index:1000;
			    
			    &.slide-active
			    {
				    left:0;
			    }  
			}
		}
	}
	
	&.home
	{
		#home_hero_container
		{
			background-color:$brand_blue;
			overflow:hidden;
			margin-bottom:80px;
			position:relative;
			
			.hero_left_content_container
			{
				padding:30px 30px 20px 30px;
				
				.hero_panel_item
				{
					@include transition(all 500ms ease-in-out);
						
					display:none;
					z-index:-1;
					
					&.active
					{
						display:block;
						//visibility:visible;
						z-index:1;
					}
					
					h2
					{
						color:$white;
						font-weight:500;
					}
					
					p
					{
						color:$white;
						font-size:20px;
						line-height:30px;
					}
					
					.btn
					{
						font-size:19px;
					}
				}
				
				.hero_panel_controls
				{
					margin-top:30px;
					
					@media only screen and (max-width : 769px)
					{
						@include justify-content(center);
						@include display(flex);
					}
					
					.home_hero_panel_control_item
					{
						@include transition(all 500ms ease-in-out);
						
						border:solid 2px $white;
						border-radius:50%;
						cursor:pointer;
						display:inline-block;
						height:17px;
						margin-right:8px;
						width:17px;
						
						&.active
						{
							background-color:$white;
						}
					}
				}
			}
			
			.hero_right_container
			{
				@include order(2);
				
				.hero_panel_item
				{
					@include transition(all 500ms ease-in-out);
					
					display:none;
					z-index:-1;
					
					&.active
					{
						display:block;
						z-index:1;
					}
					
					&.top_padding
					{
						@media only screen and (max-width : 769px)
						{
							padding-top:20px;
						}
					}
					
					> div
					{
						margin-bottom:15px;
					}

					.plan_price_container
					{
						@include transform(translateX(-50%));
						
						border:solid 3px rgba($white, .3);
						border-radius:50%;
						height:99px;
						left:50%;
						margin-bottom:15px;
						position:relative;
						text-align:center;
						width:99px;
						
						@media only screen and (max-width : 769px)
						{
							height:70px;
							width:70px;	
						}
						
						h3
						{
							@include transform(translateY(-50%));
							
							color:$white;
							font-size:42px;
							position:relative;
							top:50%;
							
							@media only screen and (max-width : 769px)
							{
								font-size:26px;
							}
						
							sup
							{
								font-size:35%;
								letter-spacing:0;
								top:-1.5em;
								
								@media only screen and (max-width : 769px)
								{
									font-size:46%;
									top:-1em;
								}
							}
						}
					}
					
					h3
					{
						color:$white;
						font-size:26px;
						text-align:center;
						
						@media only screen and (max-width : 769px)
						{
							font-size:20px;	
						}
					}
					
					&.img_container
					{
						background-repeat:no-repeat;
						background-size:cover;
						width:100%;
					}
					
					img
					{
						width:100%;
					}
				}
			}
		}
		
		.body_content_container
		{
			margin-bottom:80px;
		}
		
		.your_saving_plan
		{
			.plan_detail_container
			{
				margin:40px 0 100px 0;
				
				> div
				{
					padding-left:30px;
					padding-right:30px;
					
					@media only screen and (max-width : 769px)
					{
						margin-bottom:100px;
					}
					
					&:last-of-type
					{
						@media only screen and (max-width : 769px)
						{
							margin-bottom:0;
						}
					}
				}
				
				.plan_detail_info_container
				{	
					background-color:$brand_red;
					border-radius:5px;
					position:relative;
					
					.plan_detail_price_container
					{
						@include transform(translate(-20px, -25px)); 
						
						background-color:$white;
						border:solid 5px $brand_red;
						border-radius:50%;
						height:92px;
						position:absolute;
						text-align:center;
						width:92px;
						
						h3
						{
							@include transform(translateY(-50%));
								
							color:$brand_blue;
							font-size:45px;
							letter-spacing:-1px;
							position:relative;
							top:50%;
						
							sup
							{
								font-size:35%;
								letter-spacing:0;
								top:-1.5em;
							}
						}
					}
					
					.plan_detail_title_container
					{
						overflow:hidden;
						text-align:center;
						
						img
						{
							margin:30px auto;
						}
						
						h3
						{
							font-size:26px;
							margin-bottom:15px;
						}
					}
					
					.plan_detail_tagline_container
					{
						background-color:$brand_blue;
						font-size:16px;
						line-height:1.5;
						padding:10px 15px;
						text-align:center;
						
						p
						{
							color:$white;
						}
					}
					
					.plan_detail_description_container
					{
						@include flex-grow(1);
						
						padding:25px 15px 0;
					}
					
					.plan_detail_sign_up_container
					{
						a
						{
							@include transition(all 500ms ease-in-out);
							
							background-color:$white;
							border:solid 5px $brand_red;
							color:$brand_blue;
							font-size:20px;
							padding-left:20px;
							position:relative;
							text-align:left;
							top:24px;
							
							&::after
							{
								content:'+';
								border:solid 5px $brand_red;
								border-radius:50%;
								color:$brand_red;
								font-size:37px;
								font-weight:bold;
								height:48px;
								position:absolute;
								right:-5px;
								text-align:center;
								top:-4px;
								width:48px;
							}
							
							&:hover
							{
								background-color:$brand_blue;
								border-color:$brand_blue;
								color:$white;
							
								&::after
								{
									content:'';
									background:transparent url('../img/common/img-checkmark-white-icon.png') 50% 50% no-repeat;
									background-size:22px 17px;
									border-color:$white;
									color:$white;
								}
							}
						}
					}
				}
			}
		}
		
		.savings_calculator
		{
			.savings_calulator_container
			{
				margin-bottom:40px;
				
				img
				{
					margin:0 auto;
				}
			}
		}
		
		.esana_lifestyle
		{	
			.sign_up_callout_container
			{
				margin-top:40px;
				
				.content_section
				{
					@media only screen and (max-width : 769px)
					{
						margin:20px 0;	
					}
				}
				
				img
				{
					@media only screen and (max-width : 769px)
					{
						margin:0 auto;	
					}
				}
				
				h2, p
				{
					color:$brand_red;
				}
			}
		}
		
		h1
		{
			color:$brand_red;
			font-size:50px;
			font-weight:300;
		}
		
		h2
		{
			color:$brand_blue;
			font-size:36px;
			font-weight:bold;
		}
	}
	
	.content_container
	{
		margin:0 auto;
		max-width:990px;
	}
	
	h1
	{
		@media only screen and (max-width : 768px)
		{
			font-size:32px !important;
		}
	}
	
	h2
	{
		color:$white;
		
		@media only screen and (max-width : 768px)
		{
			font-size:26px !important;
		}
	}
	
	h3
	{
		color:$white;
		font-size:36px;
		line-height:1.2;
		
		@media only screen and (max-width : 768px)
		{
			font-size:20px;
		}
	}
	
	p
	{
		color:$gray_body_copy;
		font-size:18px !important;
		line-height:26px !important;
		
		a
		{
			color:inherit;
			border-bottom:solid 2px $brand_blue;
			text-decoration:none;
			
			&:hover
			{
				color:inherit;
				text-decoration:none;
			}
		}
	}
	
	p, ol li
	{
		font-weight:400;
		margin:15px 0;
		
		@media only screen and (max-width : 768px)
		{
			font-size:16px !important;
		}
	}
	
	ul.plus_sign_list
	{
		list-style:none;
		margin:0;
		padding:0 0 0 20px;
		
		li
		{
			color:$white;
			font-size:18px;
			font-weight:400;
			list-style:none;
			margin:0 0 20px 0;
			padding:0;
			position:relative;
			
			&::before
			{
				content:'+';
				left:-12px;
				position:absolute;
			}
		}
	}
	
	u
	{
		border-bottom:solid 2px $brand_blue;
		text-decoration:none;
	}
	
	.btn
	{
		border-radius:100px;
		font-size:20px;
		font-weight:400;
		line-height:1;
		min-width:200px;
		padding:10px;
		
		
		@include transition(all 300ms ease-in-out);
		
		&.blue
		{
			border:solid 3px $brand_blue;
			color:$brand_blue;
			
			&:hover
			{
				background-color:$brand_blue;
				color:$white;
			}
		}

		&.red
		{
			border:solid 3px $brand_red;
			color:$brand_blue;
			background-color: $white;
			
			&:hover
			{
				background-color:$brand_blue;
				border-color:$brand_blue;
				color:$white;
			}
		}
		
		&.white
		{
			border:solid 3px $white;
			color:$white;
			
			&:hover
			{
				background-color:$white;
				color:$brand_blue;
			}
		}

		&.green
		{
			border:solid 3px $brand_green;
			color:$brand_green;
			
			&:hover
			{
				background-color:$brand_green;
				color:$white;
			}
		}
		
		@media only screen and (max-width : 768px)
		{
			display:block;	
		}
	}
	
	.video_container
	{
		position:relative;
		
		&:after
		{
			@include transform(translate(-50%, -50%));
			
			content:'';
			background:transparent url('../img/common/img-play-btn.png') 0 0 no-repeat;
			height:50px;
			left:50%;
			position:absolute;
			top:50%;
			width:50px;
		}
	}
	
	.row-eq-height
	{
		@include display(flex);
		@include flex-wrap(wrap);
		
		> [class*='col-'] > div
		{
			@include display(flex);
			@include flex-direction(column);
			
			height:100%;
		}
	}
	
	.tool_tip
	{
		border-bottom:solid 2px $brand_blue;
		cursor:pointer;
		margin-right:15px;
		position:relative;
		
		&::after
		{
			content:'';
			background:transparent url('../img/common/img-tool-tip-icon.png') 50% 50% no-repeat;
			background-size:12px 12px;
			display:block;
			height:12px;
			position:absolute;
			right:-14px;
			top:0;
			width:12px;	
		}
	}
	
	.price_text
	{
		font-family:'Oswald', sans-serif;
	}
	
	.text-center
	{
		text-align:center;
	}
	
	.no-gutter
	{
		padding:0;
	}
	
	.va-item
	{
		@include align-items(center);
		@include display(flex);
	
		@media only screen and (max-width : 769px)
		{
			display:block;
		}
	}
	
	.center_align
	{
		@include justify-content(center);
		@include display(flex);
		
		@media only screen and (max-width : 769px)
		{
			display:block;
		}
	}
	
	.text_center
	{
		text-align:center;
	}
	
	.clear
	{
		&::after
		{
			content:'';
			clear:both;
			overflow:hidden;
		}
	}
	
	.red-banner, .blue-banner, .white-banner
	{
		margin:5% 0;
		padding:50px 0;
		text-align:center;

		h2
		{
			color:$white;
			font-size:45px;
			line-height:1.2;
		}
	}

	.red-banner 
	{
		background:$brand_red;
	}

	.blue-banner 
	{
		background:$brand_blue;
	}

	.white-banner 
	{
		background:$white;

		h2
		{
			color:$brand_red;
			text-transform:none !important;
			
			a
			{
				color:inherit;
			}
		}
	}
	
	.nav_contact_number
	{
		color:$brand_red;
		font-size:16px;
		
		span
		{
			margin-left:22px;
			position:relative;
			
			&::before
			{
				content:'';
				background:transparent url('../img/common/img-phone-outline-icon.png') 0 0 no-repeat;
				height:19px;
				left:-22px;
				position:absolute;
				width:17px;
				
				@media only screen and (max-width : 769px)
				{
					background:transparent url('../img/common/img-phone-outline-icon-white.png') 0 0 no-repeat;
					height:20px;
				}
			}
			
			a
			{
				color:$brand_red;
				text-decoration:none;
				
				&:hover
				{
					border-bottom:solid 2px $brand_red;
				}
			}
		}
	}
	
	.esana_logo
	{		
		a
		{
			display:inline-block;
			
			img
			{
				display:block;
				margin:0 auto;
				max-width:170px;
				
				@media only screen and (max-width : 992px)
				{
					max-width:200px;
				}
			}
		}
	}
	
	.divider
	{
		background-color:$gray_body_copy;
		height:1px;
		margin:15px 0;
		width:100%;
	}

	.our-plans, .reach-out, .your-tools, .our-mission, .savings_calculator_content_wrapper
	{
		margin-bottom: 75px;

		h2
		{
			color:$brand_red;
			font-weight: 300;
			margin-bottom: 25px;
			font-size: 50px;
			margin-top: 50px;

			@media only screen and (max-width : 768px)
			{
				font-size:26px;
			}
		}

		p
		{
			color:$gray_body_copy;
		}
	}
	
	.savings_calculator_content_wrapper
	{
		.saving_calculator_container
		{	
			margin-top:70px;
			
			.savings_calculator_field_selector_item
			{
				color:$brand_blue;
				display:inline-block;
				padding:0 15px;
				text-align:center;
				
				p
				{
					color:$brand_blue;
					margin:0 0 10px 0;
				}
				
				.savings_calculator_field_selector_trigger
				{
					@include transition(all 500ms ease-in-out);
					
					border:solid 2px $brand_blue;
					border-radius:50%;
					cursor:pointer;
					margin:0 auto;
					height:38px;
					width:38px;
					
					&:hover, &.active
					{
						background-color:$brand_blue;
					}
				}
			}
			
			.savings_calculator_question_container
			{
				display:none;
				margin-top:60px;
				
				h3
				{
					color:$brand_blue;
					font-size:45px;
					font-weight:400;
				}
				
				.saving_calculator_cost_form
				{
					margin:30px 0 60px 0;
					
					input[type="text"]
					{
						border:solid 3px $brand_blue;
						color:$brand_blue;
						font-family:'Montserrat', sans-serif;
						font-size:20px;
						margin-right:20px;
						padding:15px;
						min-width:60%;
					}
				}
				
				.knob_dial
				{
					.saving_calulator_knob
					{
						font-family:'Montserrat', sans-serif !important;
						
						&::after
						{
							content:'savings';
							display:block;
						}
					}
				}
				
				.saving_calculator_cost_container
				{
					margin-bottom:20px;
					text-align:left;
					
					span
					{
						color:$brand_blue;
						display:block;
						font-size:30px;
						
						&.saving_calculator_your_cost, &.saving_calculator_average_cost
						{
							color:$brand_red;
						}
						
						&.saving_calculator_esana_cost
						{
							color:$brand_green;
						}
					}
				}
			}
		}
	}
		
	.savings_calc
	{

		h3
		{
			color: $brand_green;
			font-size: 2.5em;
			padding-top: 18%;
			
			@media only screen and (max-width : 992px)
			{
				padding-top:30px;	
			}
		}

		p
		{
			font-size: 14px;
			line-height: 18px;
			color:$gray_body_copy;
		}

		.green-bg
		{
			background-color: $brand_green;
			height: 375px;
			
			h3
			{
				font-weight: 200;
				font-size: 2.75em;
				padding: 30px 0px;
				color: $white;
			}

			img
			{
				padding-bottom: 50px;
			}
		}

		.btn
		{
			margin-bottom: 30px;
		}
		
		@media only screen and (max-width : 992px)
		{
			margin-bottom:30px;	
		}
	}
	
	.provider_search
	{

		h3
		{
			color: $brand_red;
			font-size: 2.5em;
			padding-top: 18%;
			
			@media only screen and (max-width : 992px)
			{
				padding-top:30px;	
			}
		}

		p
		{
			font-size: 14px;
			line-height: 18px;			
			color:$gray_body_copy;
		}

		.red-bg
		{
			background-color: $brand_red;
			height: 375px;

			h3
			{
				font-weight: 200;
				font-size: 2.75em;
				padding: 30px 0px;
				color: $white;
			}

			img
			{
				padding-bottom: 50px;
			}
		}

		.btn
		{

			margin-bottom: 30px;

			&.red
			{
				color:$brand_red;
			
				&:hover
				{
					color:$white;	
					background-color: $brand_red;			
				}		
			}

			
		}
		
		@media only screen and (max-width : 992px)
		{
			margin-bottom:30px;	
		}
	}

	.prescription_search
	{

		h3
		{
			color: $brand_blue;
			font-size: 2.5em;
			padding-top: 18%;
			
			@media only screen and (max-width : 992px)
			{
				padding-top:30px;	
			}
		}

		p
		{
			font-size: 14px;
			line-height: 18px;			
			color:$gray_body_copy;
			
		}

		.blue-bg
		{
			background-color: $brand_blue;
			height: 375px;

			h3
			{
				font-weight: 200;
				font-size: 2.75em;
				padding: 30px 0px;
				color: $white;
			}

			img
			{
				padding-bottom: 50px;
			}
			
		}

		.btn
		{
			margin-bottom: 30px;
		}
		
		@media only screen and (max-width : 992px)
		{
			margin-bottom:30px;	
		}
	}

	.our-mission
	{
		h2, h3 
		{
			text-transform: uppercase;
		}

		a
		{
			color: $gray_body_copy;
			border-bottom: solid 2px $brand_blue;
			text-decoration: none;
		}

		.intro 
		{
			h3 
			{
				color: $brand_blue;
				font-size: 32px;
				margin-bottom: 15px;
			}

			p {
				width: 80%;
				margin: 0 auto;
			}

			img 
			{
				margin: 5% 0;
			}
		}

		.video-content 
		{
			@media (min-width: 750px) {
				display: flex;
				align-items: center;
				justify-content: center;
			}
		}
	}
	
	.mission_hero_banner_container
	{
		background:transparent url('../img/mission/Couple.jpg') 50% 50% no-repeat;
		background-size:cover;
		height:40vh;
		margin-bottom:75px;
		width:100%;
	}

	.contact
	{
		.row
		{
		
			display: flex;
			align-items: baseline;

			div
			{
				margin-bottom: 15px;
			}

			@media only screen and (max-width : 768px)
			{
				display: block;
			}
		}
		h3
		{
			color:$brand_red;
			font-size: 20px;
			line-height: 30px;
			margin: 15px 0px;
		}

		a
		{
			color:$brand_red;
			font-size:18px;
			line-height: 22px;
		}
	}

	.contact-form
	{
		.contact_us_form_message
		{
			display:none;
			
			p
			{
				padding:20px 30px;
				
				&.success
				{
					background-color:$brand_blue;
					color:$white;
				}
				
				&.fail
				{
					color:red;
				}
			}	
		}
		
		form
		{
			margin-bottom: 100px;
		}

		.form-control
		{
			border: 3px solid $brand_blue;
			border-radius: 0px;
			height: 51px;
			color:$brand_red;
			font-size: 20px;
			line-height: 24px;

			&.textbox
			{
				height: 325px;
			}

			&::-moz-placeholder// Firefox
			{ 
				color: $brand_red;
				opacity: 0.8;
			 } 
			&::-ms-input-placeholder // Internet Explorer 10+
			{ 
				color: $brand_red; 
				opacity: 0.8;
			} 
			&::-webkit-input-placeholder // Safari and Chrome
			{ 
				color: $brand_red; 
				opacity: 0.8;
			} 
		}

		.btn
		{
			margin: 0 auto;
			display: block;
			color:$brand_blue;
			border: 3px solid #79CCC9;
			background-color: $white;
			font-size:20px;
			line-height: 24px;
			padding: 12px 30px;
		}
	}
	.price
	{
		height: 138px;
		width: 138px;
		border: 6px solid $brand_red;	
		background-color: $white;
		border-radius: 50%;
		text-align: center;
		margin: -75px auto 0px;

		h3
		{
			color:$brand_blue;
			font-size: 72px;
			margin-top: 12%;
			padding: 10px;
			letter-spacing: -2px;

			sup
			{
				font-size: 35%;
				top: -1.75em;
				letter-spacing: -2px;
			}
		}
	}

	.dental-plus, .med-plus, .deluxe-plus
	{
		background-repeat:no-repeat;
		background-size:cover;
		
		.btn.red
		{
			position: relative;
			top: 45px;
		}
	}

	.dental-plus
	{

		background-color:$brand_red;
		background-image: url('../img/plans/ToothPattern.png');

		.content_container
		{
			padding: 20px 0px;
		}

		h2
		{
			font-size: 6.5em;
			font-weight: 500;
			margin-bottom:30px;
			margin-top: 50px;

			@media only screen and (max-width : 768px)
			{
				font-size:26px;
			}
		}

		h4
		{
			color:$white;
			font-size: 2.5em;
			font-weight: 300; 

			@media only screen and (max-width : 768px)
			{
				font-size:20px;
			}
		}

	}

	.med-plus
	{

		background-color:$brand_red;
		background-image: url('../img/plans/BandaidPattern.png');

		.content_container
		{
			padding: 20px 0px;
		}

		h2
		{
			font-size: 6.5em;
			font-weight: 500;
			margin-bottom:30px;
			margin-top: 50px;

			@media only screen and (max-width : 768px)
			{
				font-size:26px;
			}
		}

		h4
		{
			color:$white;
			font-size: 2.5em;
			font-weight: 300; 

			@media only screen and (max-width : 768px)
			{
				font-size:20px;
			}
		}
	}

	.deluxe-plus
	{

		background-color:$brand_red;
		background-image: url('../img/plans/ClipboardPattern.png');
		position:relative;

		.content_container
		{
			padding: 20px 0px;
		}

		h2
		{
			font-size: 6.5em;
			font-weight: 500;
			margin-bottom:30px;
			margin-top: 50px;

			@media only screen and (max-width : 768px)
			{
				font-size:26px;
				margin-top:90px;
			}
		}

		h4
		{
			color:$white;
			font-size: 2.5em;
			font-weight: 300; 

			@media only screen and (max-width : 768px)
			{
				font-size:20px;
			}
		}
		
		.best_value_ribbon
		{
			@include transform(translateY(-50%));
			
			left:0;
			position:absolute;
			top:50%;
			
			@media only screen and (max-width : 768px)
			{
				@include transform(translateY(0));
				top:31%;
			}
		}
	}
	
	.dental-plus-copy, .med-plus-copy, .deluxe-plus-copy
	{
		margin: 100px 0px;
		
		span
		{
			color:$brand_blue; 
			font-size: 1.4em;
		}
		p
		{
			font-size: 1.65em;
			margin:0 !important;
		}
		p, a
		{
			color:$gray_body_copy;
		}

		a
		{
			text-decoration: underline;
			text-decoration-color:$brand_blue;
		}
		
		ul.plus_sign_list
		{
			li
			{
				color:$brand_blue;
			}
		}
		
		> div.content_container > div.row > div:last-child
		{
			@media only screen and (max-width : 992px)
			{
				margin-top:30px;
			}
		}
	}

	footer
	{
		margin:80px 0 20px 0;
		overflow:hidden;
		
		.esana_logo
		{
			@media only screen and (max-width : 768px)
			{
				margin-bottom:15px;
				text-align:center;
			}
		}
			
		.footer_social_links
		{
			@include justify-content(flex-end);
			
			a
			{
				display:inline-block;
				margin-right:10px;
				text-decoration:none;
				
				&:last-child
				{
					margin-right:0;
				}
			}
			
			@media only screen and (max-width : 768px)
			{
				text-align:right;	
			}
		}
		
		.copyright_content
		{
			@include justify-content(flex-end);
			
			color:$brand_red;
			line-height:1;
			
			@media only screen and (max-width : 768px)
			{
				text-align:center;
			}
			
			.copyright_content_links
			{
				margin-left:20px;
				
				@media only screen and (max-width : 768px)
				{
					margin-top:10px;
				}
				
				a
				{
					color:$brand_red;
					padding:0 5px;
					
					@media only screen and (max-width : 768px)
					{
						display:inline-block !important;
					}
					
					&::before
					{
						content:"";
						background-color:$gray_body_copy;
						display:inline-block;
						height:25px;
						margin-right:10px;
						width:2px;
						
						@media only screen and (max-width : 768px)
						{
							display:none;
						}
					}
					
					&:last-child
					{
						&::after
						{
							content:"";
							background-color:$gray_body_copy;
							display:inline-block;
							margin-left:10px;
							height:25px;
							width:2px;
							
							@media only screen and (max-width : 768px)
							{
								display:none;
							}
						}
					}
				}	
			}
		}
	}
}