/*================================================================================================*/
/* ==================================== CSS RESET ============================================== */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

a, img {
  border: none;
  outline: none; }

article, aside, figure, footer, header, hgroup, nav, section {
  display: block; }

/* Responsive images and other embedded objects
Note: keeping IMG here will cause problems if you're using foreground images as sprites, like, say for Google Maps custom placemarkers.
There has been a report of problems with standard Google maps as well, but we haven't been able to duplicate or diagnose the issue. */
img,
object,
embed {
  max-width: 100%; }

/* force a vertical scrollbar to prevent a jumpy page */
/* we use a lot of ULs that aren't bulleted.
don't forget to restore the bullets within content. */
ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

th {
  font-weight: bold;
  vertical-align: bottom; }

td {
  font-weight: normal;
  vertical-align: top; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */ }

input[type="radio"] {
  vertical-align: text-bottom; }

input[type="checkbox"] {
  vertical-align: bottom;
  *vertical-align: baseline; }

.ie6 input {
  vertical-align: text-bottom; }

select, input, textarea {
  font: 99% sans-serif; }

table {
  font-size: inherit;
  font: 100%; }

/* Accessible focus treatment
people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active {
  outline: none; }

small {
  font-size: 85%; }

strong, th {
  font-weight: bold; }

td, td img {
  vertical-align: top; }

/* Make sure sup and sub don't screw with your line-heights
gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif; }

/* hand cursor on clickable elements */
.clickable,
input[type=button],
input[type=submit],
button {
  cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0; }

/* make buttons play nice in IE */
button {
  width: auto;
  overflow: visible; }

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic; }

/* prevent BG image flicker upon hover */
.ie6 html {
  filter: expression(document.execCommand("BackgroundImageCache", false, true)); }

/* let's clear some floats */
.clearfix:before, .clearfix:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden; }

.clearfix:after {
  clear: both; }

.clearfix {
  zoom: 1; }

li {
  list-style: none; }

/* Ok, this is where the fun starts.
-------------------------------------------------------------------------------*/
/* new Linux- and Windows-friendly sans-serif font stack: http://mky.be/fontstack */
body {
  font: 13px Helmet, Freesans, sans-serif; }

/* using local fonts? make sure to read up on Paul Irish's
Bulletproof @font-face syntax: http://mky.be/font-face/bulletproof/ */
/* we like off-#252525 for text */
body, select, input, textarea {
  color: #333; }

a {
  color: #03f; }

a:hover {
  color: #69f; }

/* Custom text-selection colors (remove any text shadows: twitter.com/miketaylr/status/12228805301) */
::-moz-selection {
  background: #fcd700;
  color: #fff;
  text-shadow: none; }

::selection {
  background: #fcd700;
  color: #fff;
  text-shadow: none; }

/* j.mp/webkit-tap-highlight-color */
a:link {
  -webkit-tap-highlight-color: #fcd700; }

ins {
  background-color: #fcd700;
  color: #000;
  text-decoration: none; }

mark {
  background-color: #fcd700;
  color: #000;
  font-style: italic;
  font-weight: bold; }

html {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  font-size: 62.5%; }

/*================================================================================================*/
/* ==================================== BASICS ============================================== */
* {
  margin: 0px;
  padding: 0px;
  outline: none !important;
  box-sizing: border-box;
  -moz-box-sizing: border-box; }

html, body {
  height: 100%; }

header, footer, section, article, aside, nav {
  display: block; }

body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background: #F2F2F2;
  margin: 0px;
  min-height: 100%; }

body {
  background-color: white;
  font-family: 'Montserrat', sans-serif; }
  @media only screen and (max-width: 992px) {
    body
article {
      padding: 0 15px; } }
  body
section {
    overflow: hidden; }
  body
header {
    margin: 0 auto;
    /**************************************
			Navigation Styles
		**************************************/ }
    body
header
nav
#navigation_bar_container {
      background-color: #FFFFFF;
      height: 60px; }
      @media only screen and (max-width: 769px) {
        body
header
nav
#navigation_bar_container {
          height: 50px; } }
      body
header
nav
#navigation_bar_container > div {
        float: none;
        min-height: 100% !important;
        position: relative; }
      body
header
nav
#navigation_bar_container
.navbar-header {
        display: block;
        position: absolute;
        right: 5%;
        top: 50%; }
        @media only screen and (max-width: 769px) {
          body
header
nav
#navigation_bar_container
.navbar-header {
            display: block; } }
        body
header
nav
#navigation_bar_container
.navbar-header
.navbar-toggle {
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          margin: 0;
          position: absolute;
          right: 0;
          top: 50%;
          width: 27px; }
          body
header
nav
#navigation_bar_container
.navbar-header
.navbar-toggle.slide-active {
            -webkit-transition: all 500ms ease-in-out;
            -moz-transition: all 500ms ease-in-out;
            transition: all 500ms ease-in-out; }
            body
header
nav
#navigation_bar_container
.navbar-header
.navbar-toggle.slide-active
span:nth-child(2) {
              -webkit-transform: translate(-50%, -50%) rotate(45deg);
              -moz-transform: translate(-50%, -50%) rotate(45deg);
              -ms-transform: translate(-50%, -50%) rotate(45deg);
              -o-transform: translate(-50%, -50%) rotate(45deg);
              transform: translate(-50%, -50%) rotate(45deg); }
            body
header
nav
#navigation_bar_container
.navbar-header
.navbar-toggle.slide-active
span:nth-child(3) {
              display: none; }
            body
header
nav
#navigation_bar_container
.navbar-header
.navbar-toggle.slide-active
span:nth-child(4) {
              -webkit-transform: translate(-50%, -50%) rotate(-45deg);
              -moz-transform: translate(-50%, -50%) rotate(-45deg);
              -ms-transform: translate(-50%, -50%) rotate(-45deg);
              -o-transform: translate(-50%, -50%) rotate(-45deg);
              transform: translate(-50%, -50%) rotate(-45deg); }
          body
header
nav
#navigation_bar_container
.navbar-header
.navbar-toggle
.icon-bar {
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            -o-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
            background-color: #79ccc9;
            height: 3px;
            left: 50%;
            margin: 0;
            position: absolute;
            top: 50%;
            width: 27px; }
          body
header
nav
#navigation_bar_container
.navbar-header
.navbar-toggle
span {
            -webkit-transform-origin: center center;
            -moz-transform-origin: center center;
            -ms-transform-origin: center center;
            -o-transform-origin: center center;
            transform-origin: center center;
            -webkit-transition: all 500ms ease-in-out;
            -moz-transition: all 500ms ease-in-out;
            transition: all 500ms ease-in-out; }
            body
header
nav
#navigation_bar_container
.navbar-header
.navbar-toggle
span:nth-child(2) {
              -webkit-transform: translate(-50%, calc(-50% - 8px));
              -moz-transform: translate(-50%, calc(-50% - 8px));
              -ms-transform: translate(-50%, calc(-50% - 8px));
              -o-transform: translate(-50%, calc(-50% - 8px));
              transform: translate(-50%, calc(-50% - 8px)); }
            body
header
nav
#navigation_bar_container
.navbar-header
.navbar-toggle
span:nth-child(4) {
              -webkit-transform: translate(-50%, calc(-50% + 8px));
              -moz-transform: translate(-50%, calc(-50% + 8px));
              -ms-transform: translate(-50%, calc(-50% + 8px));
              -o-transform: translate(-50%, calc(-50% + 8px));
              transform: translate(-50%, calc(-50% + 8px)); }
      body
header
nav
#navigation_bar_container
#utility_nav_slide_right {
        -webkit-box-pack: end;
        -moz-box-pack: end;
        box-pack: end;
        -webkit-justify-content: flex-end;
        -moz-justify-content: flex-end;
        -ms-justify-content: flex-end;
        -o-justify-content: flex-end;
        justify-content: flex-end;
        -ms-flex-pack: end;
        display: -webkit-box;
        display: -moz-box;
        display: box;
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flexbox;
        display: flex;
        padding-right: 0; }
        @media only screen and (max-width: 769px) {
          body
header
nav
#navigation_bar_container
#utility_nav_slide_right {
            padding: 40px; } }
        @media only screen and (max-width: 769px) {
          body
header
nav
#navigation_bar_container
#utility_nav_slide_right
#nav_links {
            float: none;
            margin: 0; } }
        body
header
nav
#navigation_bar_container
#utility_nav_slide_right
#nav_links
ul {
          list-style: none;
          margin: 0;
          padding: 0; }
          body
header
nav
#navigation_bar_container
#utility_nav_slide_right
#nav_links
ul
> li {
            display: inline-block;
            position: relative;
            z-index: 6; }
            @media only screen and (max-width: 769px) {
              body
header
nav
#navigation_bar_container
#utility_nav_slide_right
#nav_links
ul
> li {
                display: block;
                margin-bottom: 5px; } }
            body
header
nav
#navigation_bar_container
#utility_nav_slide_right
#nav_links
ul
> li
> a {
              color: #666666;
              font-size: 16px;
              margin-right: 20px;
              position: relative;
              text-decoration: none; }
              @media only screen and (max-width: 769px) {
                body
header
nav
#navigation_bar_container
#utility_nav_slide_right
#nav_links
ul
> li
> a {
                  color: white;
                  display: block;
                  font-size: 18px;
                  padding: 12px 0; } }
              body
header
nav
#navigation_bar_container
#utility_nav_slide_right
#nav_links
ul
> li
> a::after {
                -webkit-transition: all 500ms ease;
                -moz-transition: all 500ms ease;
                transition: all 500ms ease; }
              body
header
nav
#navigation_bar_container
#utility_nav_slide_right
#nav_links
ul
> li
> a.active {
                color: #f26e6d; }
              @media only screen and (max-width: 769px) {
                body
header
nav
#navigation_bar_container
#utility_nav_slide_right
#nav_links
ul
> li
> a:hover,
                body
header
nav
#navigation_bar_container
#utility_nav_slide_right
#nav_links
ul
> li
> a.active {
                  color: #f26e6d; } }
              body
header
nav
#navigation_bar_container
#utility_nav_slide_right
#nav_links
ul
> li
> a:hover::after
,
              body
header
nav
#navigation_bar_container
#utility_nav_slide_right
#nav_links
ul
> li
> a.active::after {
                content: "";
                background-color: #f26e6d;
                bottom: -8px;
                height: 3px;
                left: 0;
                position: absolute;
                width: 100%; }
                @media only screen and (max-width: 769px) {
                  body
header
nav
#navigation_bar_container
#utility_nav_slide_right
#nav_links
ul
> li
> a:hover::after
,
                  body
header
nav
#navigation_bar_container
#utility_nav_slide_right
#nav_links
ul
> li
> a.active::after {
                    display: none; } }
            body
header
nav
#navigation_bar_container
#utility_nav_slide_right
#nav_links
ul
> li
.sub_nav_links {
              -webkit-transform: translate(-22px, 0);
              -moz-transform: translate(-22px, 0);
              -ms-transform: translate(-22px, 0);
              -o-transform: translate(-22px, 0);
              transform: translate(-22px, 0);
              background-color: white;
              display: none;
              list-style: none;
              margin: 0;
              min-width: 200px;
              padding: 10px 15px;
              text-align: left;
              z-index: 5; }
              @media only screen and (max-width: 769px) {
                body
header
nav
#navigation_bar_container
#utility_nav_slide_right
#nav_links
ul
> li
.sub_nav_links {
                  background-color: transparent;
                  display: block;
                  margin: 0 0 0 30px;
                  position: relative !important; }
                  body
header
nav
#navigation_bar_container
#utility_nav_slide_right
#nav_links
ul
> li
.sub_nav_links
li {
                    margin: 0 !important; }
                    body
header
nav
#navigation_bar_container
#utility_nav_slide_right
#nav_links
ul
> li
.sub_nav_links
li
a {
                      color: white !important; }
                      body
header
nav
#navigation_bar_container
#utility_nav_slide_right
#nav_links
ul
> li
.sub_nav_links
li
a:hover {
                        color: #f26e6d !important;
                        text-decoration: none !important; } }
            body
header
nav
#navigation_bar_container
#utility_nav_slide_right
#nav_links
ul
> li:hover
.sub_nav_links {
              display: block;
              position: absolute; }
              body
header
nav
#navigation_bar_container
#utility_nav_slide_right
#nav_links
ul
> li:hover
.sub_nav_links
li {
                display: block;
                margin: 10px 0;
                width: 100%; }
                body
header
nav
#navigation_bar_container
#utility_nav_slide_right
#nav_links
ul
> li:hover
.sub_nav_links
li
a {
                  color: #f26e6d;
                  display: block; }
                  body
header
nav
#navigation_bar_container
#utility_nav_slide_right
#nav_links
ul
> li:hover
.sub_nav_links
li
a:hover {
                    text-decoration: underline; }
                  body
header
nav
#navigation_bar_container
#utility_nav_slide_right
#nav_links
ul
> li:hover
.sub_nav_links
li
a::after {
                    display: none; }
        @media only screen and (max-width: 769px) {
          body
header
nav
#navigation_bar_container
#utility_nav_slide_right
.nav_contact_number {
            margin-top: 40px;
            text-align: center; } }
      body
header
nav
#navigation_bar_container
.esana_logo {
        -webkit-transform: translateY(4px);
        -moz-transform: translateY(4px);
        -ms-transform: translateY(4px);
        -o-transform: translateY(4px);
        transform: translateY(4px); }
        @media only screen and (max-width: 762px) {
          body
header
nav
#navigation_bar_container
.esana_logo {
            -webkit-transform: translateY(-50%);
            -moz-transform: translateY(-50%);
            -ms-transform: translateY(-50%);
            -o-transform: translateY(-50%);
            transform: translateY(-50%);
            position: absolute;
            top: 54%; } }
    @media only screen and (max-width: 769px) {
      body
header
.utility_nav {
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;
        display: block !important;
        height: 100% !important;
        left: -80%;
        margin: 0;
        min-width: 0;
        overflow: hidden;
        padding-left: 0;
        padding-right: 0;
        position: fixed;
        text-align: left;
        top: 0;
        width: 80%;
        z-index: 1032; }
        body
header
.utility_nav.slide-active {
          left: 0; } }
    body
header
#navbar-height-col {
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      background-color: #79ccc9; }
      @media only screen and (max-width: 769px) {
        body
header
#navbar-height-col {
          bottom: 0;
          height: 100%;
          left: -80%;
          opacity: 1;
          position: fixed;
          top: 0;
          visibility: visible;
          width: 80%;
          z-index: 1000; }
          body
header
#navbar-height-col.slide-active {
            left: 0; } }
  body.home
#home_hero_container {
    background-color: #79ccc9;
    overflow: hidden;
    margin-bottom: 80px;
    position: relative; }
    @media only screen and (max-width: 769px) {
      body.home
#home_hero_container {
        height: auto; } }
    body.home
#home_hero_container .hero_left_content_container,
    body.home
#home_hero_container .hero_right_container .hero_panel_item,
    body.home
#home_hero_container
.hero_right_container .hero_panel_item > div {
      height: 50vh; }
      @media only screen and (max-width: 769px) {
        body.home
#home_hero_container .hero_left_content_container,
        body.home
#home_hero_container .hero_right_container .hero_panel_item,
        body.home
#home_hero_container
.hero_right_container .hero_panel_item > div {
          height: auto; } }
    body.home
#home_hero_container
.hero_left_content_container {
      -webkit-box-lines: multiple;
      -moz-box-lines: multiple;
      box-lines: multiple;
      -webkit-flex-wrap: wrap;
      -moz-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 30px 30px 20px 70px; }
      @media only screen and (max-width: 769px) {
        body.home
#home_hero_container
.hero_left_content_container {
          padding: 30px 30px 20px 30px; } }
      body.home
#home_hero_container
.hero_left_content_container
.hero_panel_item {
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;
        display: none;
        z-index: -1; }
        body.home
#home_hero_container
.hero_left_content_container
.hero_panel_item.active {
          display: block;
          z-index: 1; }
        body.home
#home_hero_container
.hero_left_content_container
.hero_panel_item
h2 {
          color: white;
          font-size: 32px;
          font-weight: 500; }
        body.home
#home_hero_container
.hero_left_content_container
.hero_panel_item
p {
          color: white;
          font-size: 20px;
          line-height: 30px; }
        body.home
#home_hero_container
.hero_left_content_container
.hero_panel_item
.btn {
          font-size: 19px; }
      body.home
#home_hero_container
.hero_left_content_container
.hero_panel_controls {
        -webkit-align-self: flex-start;
        -moz-align-self: flex-start;
        align-self: flex-start;
        -ms-flex-item-align: start; }
        @media only screen and (max-width: 769px) {
          body.home
#home_hero_container
.hero_left_content_container
.hero_panel_controls {
            -webkit-box-pack: center;
            -moz-box-pack: center;
            box-pack: center;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            -ms-justify-content: center;
            -o-justify-content: center;
            justify-content: center;
            -ms-flex-pack: center;
            display: -webkit-box;
            display: -moz-box;
            display: box;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flexbox;
            display: flex;
            padding-top: 20px; } }
        body.home
#home_hero_container
.hero_left_content_container
.hero_panel_controls
.home_hero_panel_control_item {
          -webkit-transition: all 500ms ease-in-out;
          -moz-transition: all 500ms ease-in-out;
          transition: all 500ms ease-in-out;
          border: solid 2px white;
          border-radius: 50%;
          cursor: pointer;
          display: inline-block;
          height: 17px;
          margin-right: 8px;
          width: 17px; }
          body.home
#home_hero_container
.hero_left_content_container
.hero_panel_controls
.home_hero_panel_control_item.active {
            background-color: white; }
    body.home
#home_hero_container
.hero_right_container
.hero_panel_item {
      -webkit-transition: all 500ms ease-in-out;
      -moz-transition: all 500ms ease-in-out;
      transition: all 500ms ease-in-out;
      display: none;
      z-index: -1;
      width: 100%; }
      body.home
#home_hero_container
.hero_right_container
.hero_panel_item.active {
        display: block;
        z-index: 1; }
      body.home
#home_hero_container
.hero_right_container
.hero_panel_item:not(.img_container) > div {
        width: 100%; }
      body.home
#home_hero_container
.hero_right_container
.hero_panel_item
.inner_content_wrapper {
        overflow: hidden;
        width: 100%; }
      body.home
#home_hero_container
.hero_right_container
.hero_panel_item.padding_vertical {
        padding: 10px 0; }
      body.home
#home_hero_container
.hero_right_container
.hero_panel_item
> div > div > div:first-child {
        margin-bottom: 15px; }
      body.home
#home_hero_container
.hero_right_container
.hero_panel_item
.plan_price_container {
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        border: solid 3px rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        height: 99px;
        left: 50%;
        margin-bottom: 15px;
        position: relative;
        text-align: center;
        width: 99px; }
        @media only screen and (max-width: 769px) {
          body.home
#home_hero_container
.hero_right_container
.hero_panel_item
.plan_price_container {
            height: 70px;
            width: 70px; } }
        body.home
#home_hero_container
.hero_right_container
.hero_panel_item
.plan_price_container
h3 {
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          color: white;
          font-size: 42px;
          position: relative;
          top: 50%; }
          @media only screen and (max-width: 769px) {
            body.home
#home_hero_container
.hero_right_container
.hero_panel_item
.plan_price_container
h3 {
              font-size: 24px; } }
          body.home
#home_hero_container
.hero_right_container
.hero_panel_item
.plan_price_container
h3
sup {
            font-size: 35%;
            letter-spacing: 0;
            top: -1.5em; }
            @media only screen and (max-width: 769px) {
              body.home
#home_hero_container
.hero_right_container
.hero_panel_item
.plan_price_container
h3
sup {
                font-size: 46%;
                top: -1em; } }
      body.home
#home_hero_container
.hero_right_container
.hero_panel_item
h3 {
        color: white;
        font-size: 26px;
        text-align: center; }
        @media only screen and (max-width: 769px) {
          body.home
#home_hero_container
.hero_right_container
.hero_panel_item
h3 {
            font-size: 17px; } }
      body.home
#home_hero_container
.hero_right_container
.hero_panel_item.img_container {
        background-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%; }
        @media only screen and (max-width: 769px) {
          body.home
#home_hero_container
.hero_right_container
.hero_panel_item.img_container {
            height: 200px !important; } }
      body.home
#home_hero_container
.hero_right_container
.hero_panel_item
img {
        width: 100%; }
  body.home
.body_content_container {
    margin-bottom: 80px; }
  body.home
.your_saving_plan
.plan_detail_container {
    margin: 40px 0 100px 0; }
    body.home
.your_saving_plan
.plan_detail_container
> div {
      padding-left: 30px;
      padding-right: 30px; }
      @media only screen and (max-width: 769px) {
        body.home
.your_saving_plan
.plan_detail_container
> div {
          margin-bottom: 100px; } }
      @media only screen and (max-width: 769px) {
        body.home
.your_saving_plan
.plan_detail_container
> div:last-of-type {
          margin-bottom: 0; } }
    body.home
.your_saving_plan
.plan_detail_container
.plan_detail_info_container {
      background-color: #f26e6d;
      border-radius: 5px;
      position: relative; }
      body.home
.your_saving_plan
.plan_detail_container
.plan_detail_info_container
.plan_detail_price_container {
        -webkit-transform: translate(-20px, -25px);
        -moz-transform: translate(-20px, -25px);
        -ms-transform: translate(-20px, -25px);
        -o-transform: translate(-20px, -25px);
        transform: translate(-20px, -25px);
        background-color: white;
        border: solid 5px #f26e6d;
        border-radius: 50%;
        height: 92px;
        position: absolute;
        text-align: center;
        width: 92px; }
        body.home
.your_saving_plan
.plan_detail_container
.plan_detail_info_container
.plan_detail_price_container
h3 {
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
          color: #79ccc9;
          font-size: 45px;
          letter-spacing: -1px;
          position: relative;
          top: 50%; }
          body.home
.your_saving_plan
.plan_detail_container
.plan_detail_info_container
.plan_detail_price_container
h3
sup {
            font-size: 35%;
            letter-spacing: 0;
            top: -1.5em; }
      body.home
.your_saving_plan
.plan_detail_container
.plan_detail_info_container
.plan_detail_title_container {
        overflow: hidden;
        text-align: center; }
        body.home
.your_saving_plan
.plan_detail_container
.plan_detail_info_container
.plan_detail_title_container
img {
          margin: 30px auto; }
        body.home
.your_saving_plan
.plan_detail_container
.plan_detail_info_container
.plan_detail_title_container
h3 {
          font-size: 26px;
          margin-bottom: 15px; }
      body.home
.your_saving_plan
.plan_detail_container
.plan_detail_info_container
.plan_detail_tagline_container {
        background-color: #79ccc9;
        font-size: 16px;
        line-height: 1.5;
        padding: 10px 15px;
        text-align: center; }
        body.home
.your_saving_plan
.plan_detail_container
.plan_detail_info_container
.plan_detail_tagline_container
p {
          color: white; }
      body.home
.your_saving_plan
.plan_detail_container
.plan_detail_info_container
.plan_detail_description_container {
        -webkit-flex-grow: 1;
        -moz-flex-grow: 1;
        flex-grow: 1;
        -ms-flex-positive: 1;
        padding: 25px 15px 0; }
      body.home
.your_saving_plan
.plan_detail_container
.plan_detail_info_container
.plan_detail_sign_up_container
a {
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;
        background-color: white;
        border: solid 5px #f26e6d;
        color: #79ccc9;
        font-size: 20px;
        padding-left: 20px;
        position: relative;
        text-align: left;
        top: 24px; }
        body.home
.your_saving_plan
.plan_detail_container
.plan_detail_info_container
.plan_detail_sign_up_container
a::after {
          content: '+';
          border: solid 5px #f26e6d;
          border-radius: 50%;
          color: #f26e6d;
          font-size: 37px;
          font-weight: bold;
          height: 48px;
          position: absolute;
          right: -5px;
          text-align: center;
          top: -4px;
          width: 48px; }
        body.home
.your_saving_plan
.plan_detail_container
.plan_detail_info_container
.plan_detail_sign_up_container
a:hover {
          background-color: #79ccc9;
          border-color: #79ccc9;
          color: white; }
          body.home
.your_saving_plan
.plan_detail_container
.plan_detail_info_container
.plan_detail_sign_up_container
a:hover::after {
            content: '';
            background: transparent url("../img/common/img-checkmark-white-icon.png") 50% 50% no-repeat;
            background-size: 22px 17px;
            border-color: white;
            color: white; }
  body.home
.savings_calculator
.savings_calulator_container {
    margin-bottom: 40px; }
    body.home
.savings_calculator
.savings_calulator_container
img {
      margin: 0 auto; }
  body.home
.esana_lifestyle
.sign_up_callout_container {
    margin-top: 40px; }
    @media only screen and (max-width: 769px) {
      body.home
.esana_lifestyle
.sign_up_callout_container
.content_section {
        margin: 20px 0; } }
    @media only screen and (max-width: 769px) {
      body.home
.esana_lifestyle
.sign_up_callout_container
img {
        margin: 0 auto; } }
    body.home
.esana_lifestyle
.sign_up_callout_container h2, body.home
.esana_lifestyle
.sign_up_callout_container
p {
      color: #f26e6d; }
  body.home
h1 {
    color: #f26e6d;
    font-size: 50px;
    font-weight: 300; }
  body.home
h2 {
    color: #79ccc9;
    font-size: 36px;
    font-weight: bold; }
  body
.content_container {
    margin: 0 auto;
    max-width: 990px; }
  @media only screen and (max-width: 768px) {
    body
h1 {
      font-size: 32px !important; } }
  body
h2 {
    color: white; }
    @media only screen and (max-width: 768px) {
      body
h2 {
        font-size: 26px !important; } }
  body
h3 {
    color: white;
    font-size: 36px;
    line-height: 1.2; }
    @media only screen and (max-width: 768px) {
      body
h3 {
        font-size: 20px; } }
  body
h4 {
    font-size: 18px;
    line-height: 26px; }
    @media only screen and (max-width: 768px) {
      body
h4 {
        font-size: 16px; } }
  body
p {
    color: #666666;
    font-size: 18px !important;
    line-height: 26px !important; }
    body
p
a {
      color: inherit;
      border-bottom: solid 2px #79ccc9;
      text-decoration: none; }
      body
p
a:hover {
        color: inherit;
        text-decoration: none; }
  body p, body
ol li {
    font-weight: 400;
    margin: 15px 0; }
    @media only screen and (max-width: 768px) {
      body p, body
ol li {
        font-size: 16px !important; } }
  body
ul.plus_sign_list {
    list-style: none;
    margin: 0;
    padding: 0 0 0 20px; }
    body
ul.plus_sign_list
li {
      color: white;
      font-size: 18px;
      font-weight: 400;
      list-style: none;
      margin: 0 0 20px 0;
      padding: 0;
      position: relative; }
      body
ul.plus_sign_list
li::before {
        content: '+';
        left: -12px;
        position: absolute; }
  body
u {
    border-bottom: solid 2px #79ccc9;
    text-decoration: none; }
  body
.btn {
    border-radius: 100px;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
    min-width: 200px;
    padding: 10px;
    -webkit-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out; }
    body
.btn.blue {
      border: solid 3px #79ccc9;
      color: #79ccc9; }
      body
.btn.blue:hover {
        background-color: #79ccc9;
        color: white; }
    body
.btn.red {
      border: solid 3px #f26e6d;
      color: #f26e6d;
      background-color: white; }
      body
.btn.red:hover {
        background-color: #f26e6d;
        border-color: #f26e6d;
        color: white; }
    body
.btn.white {
      border: solid 3px white;
      color: white; }
      body
.btn.white:hover {
        background-color: white;
        color: #79ccc9; }
    body
.btn.green {
      border: solid 3px #71c499;
      color: #71c499; }
      body
.btn.green:hover {
        background-color: #71c499;
        color: white; }
    @media only screen and (max-width: 768px) {
      body
.btn {
        display: block; } }
  body
.video_container {
    position: relative; }
    body
.video_container:after {
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      content: '';
      background: transparent url("../img/common/img-play-btn.png") 0 0 no-repeat;
      height: 50px;
      left: 50%;
      position: absolute;
      top: 50%;
      width: 50px; }
  body
.row-eq-height {
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-lines: multiple;
    -moz-box-lines: multiple;
    box-lines: multiple;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    body
.row-eq-height
> [class*='col-'] > div {
      display: -webkit-box;
      display: -moz-box;
      display: box;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      box-orient: vertical;
      -webkit-box-direction: normal;
      -moz-box-direction: normal;
      box-direction: normal;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      flex-direction: column;
      -ms-flex-direction: column;
      height: 100%; }
  body
.tool_tip {
    border-bottom: solid 2px #79ccc9;
    cursor: pointer;
    margin-right: 15px;
    position: relative; }
    body
.tool_tip::after {
      content: '';
      background: transparent url("../img/common/img-tool-tip-icon.png") 50% 50% no-repeat;
      background-size: 12px 12px;
      display: block;
      height: 12px;
      position: absolute;
      right: -14px;
      top: 0;
      width: 12px; }
  body
.tool_top_container {
    background-color: white;
    border: solid 5px #79ccc9;
    border-radius: 10px;
    color: #79ccc9;
    display: none;
    font-size: 14px;
    line-height: 1.2;
    padding: 10px;
    position: absolute;
    max-width: 300px; }
    @media only screen and (max-width: 768px) {
      body
.tool_top_container {
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        left: 50%;
        position: fixed;
        top: 50%; } }
    body
.tool_top_container::before {
      content: '';
      background: transparent url("../img/common/img-tool-tip-point-corner.png") 50% 50% no-repeat;
      background-size: 15px 22px;
      bottom: -5px;
      display: block;
      height: 22px;
      left: -17px;
      position: absolute;
      width: 22px; }
      @media only screen and (max-width: 768px) {
        body
.tool_top_container::before {
          display: none; } }
  body
.price_text {
    font-family: 'Oswald', sans-serif; }
  body
.text-center {
    text-align: center; }
  body
.no-gutter {
    padding: 0; }
  body
.va-item {
    -webkit-box-align: center;
    -moz-box-align: center;
    box-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    -o-align-items: center;
    align-items: center;
    -ms-flex-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    @media only screen and (max-width: 769px) {
      body
.va-item {
        display: block; } }
  body
.center_align {
    -webkit-box-pack: center;
    -moz-box-pack: center;
    box-pack: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    -o-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex; }
    @media only screen and (max-width: 769px) {
      body
.center_align {
        display: block; } }
  body
.text_center {
    text-align: center; }
  body
.clear::after {
    content: '';
    clear: both;
    overflow: hidden; }
  body .red-banner, body .blue-banner, body
.white-banner {
    margin: 5% 0;
    padding: 50px 0;
    text-align: center; }
    body .red-banner
h2
, body .blue-banner
h2
, body
.white-banner
h2 {
      color: white;
      font-size: 45px;
      line-height: 1.2; }
  body
.red-banner {
    background: #f26e6d; }
  body
.blue-banner {
    background: #79ccc9; }
  body
.white-banner {
    background: white; }
    body
.white-banner
h2 {
      color: #f26e6d;
      text-transform: none !important; }
      body
.white-banner
h2
a {
        color: inherit; }
  body
.nav_contact_number {
    color: #f26e6d;
    font-size: 16px; }
    body
.nav_contact_number
span {
      margin-left: 22px;
      position: relative; }
      body
.nav_contact_number
span::before {
        content: '';
        background: transparent url("../img/common/img-phone-outline-icon.png") 0 0 no-repeat;
        height: 19px;
        left: -22px;
        position: absolute;
        width: 17px; }
        @media only screen and (max-width: 769px) {
          body
.nav_contact_number
span::before {
            background: transparent url("../img/common/img-phone-outline-icon-white.png") 0 0 no-repeat;
            height: 20px; } }
      body
.nav_contact_number
span
a {
        color: #f26e6d;
        text-decoration: none; }
        body
.nav_contact_number
span
a:hover {
          border-bottom: solid 2px #f26e6d; }
  body
.esana_logo
a {
    display: inline-block; }
    body
.esana_logo
a
img {
      display: block;
      margin: 0 auto;
      max-width: 170px; }
      @media only screen and (max-width: 992px) {
        body
.esana_logo
a
img {
          max-width: 200px; } }
  body
.divider {
    background-color: #666666;
    height: 1px;
    margin: 25px 0;
    width: 100%; }
  body .our-plans, body .reach-out, body .your-tools, body .our-mission, body .savings_calculator_content_wrapper, body
.disclaimer_content {
    margin-bottom: 75px; }
    body .our-plans
h2
, body .reach-out
h2
, body .your-tools
h2
, body .our-mission
h2
, body .savings_calculator_content_wrapper
h2
, body
.disclaimer_content
h2 {
      color: #f26e6d;
      font-weight: 300;
      margin-bottom: 25px;
      font-size: 50px;
      margin-top: 50px; }
      @media only screen and (max-width: 768px) {
        body .our-plans
h2
, body .reach-out
h2
, body .your-tools
h2
, body .our-mission
h2
, body .savings_calculator_content_wrapper
h2
, body
.disclaimer_content
h2 {
          font-size: 26px; } }
    body .our-plans
p
, body .reach-out
p
, body .your-tools
p
, body .our-mission
p
, body .savings_calculator_content_wrapper
p
, body
.disclaimer_content
p {
      color: #666666; }
  body
.savings_calculator_content_wrapper
.saving_calculator_container {
    margin-top: 70px; }
    body
.savings_calculator_content_wrapper
.saving_calculator_container
.savings_calculator_field_selector_item {
      color: #79ccc9;
      display: inline-block;
      padding: 0 15px;
      text-align: center; }
      body
.savings_calculator_content_wrapper
.saving_calculator_container
.savings_calculator_field_selector_item
p {
        color: #79ccc9;
        margin: 0 0 10px 0; }
      body
.savings_calculator_content_wrapper
.saving_calculator_container
.savings_calculator_field_selector_item
.savings_calculator_field_selector_trigger {
        -webkit-transition: all 500ms ease-in-out;
        -moz-transition: all 500ms ease-in-out;
        transition: all 500ms ease-in-out;
        border: solid 2px #79ccc9;
        border-radius: 50%;
        cursor: pointer;
        margin: 0 auto;
        height: 38px;
        width: 38px; }
        body
.savings_calculator_content_wrapper
.saving_calculator_container
.savings_calculator_field_selector_item
.savings_calculator_field_selector_trigger:hover, body
.savings_calculator_content_wrapper
.saving_calculator_container
.savings_calculator_field_selector_item
.savings_calculator_field_selector_trigger.active {
          background-color: #79ccc9; }
    body
.savings_calculator_content_wrapper
.saving_calculator_container
.savings_calculator_question_container {
      display: none;
      margin-top: 60px; }
      body
.savings_calculator_content_wrapper
.saving_calculator_container
.savings_calculator_question_container
h3 {
        color: #79ccc9;
        font-size: 45px;
        font-weight: 400; }
      body
.savings_calculator_content_wrapper
.saving_calculator_container
.savings_calculator_question_container
.saving_calculator_cost_form {
        margin: 30px 0 60px 0; }
        body
.savings_calculator_content_wrapper
.saving_calculator_container
.savings_calculator_question_container
.saving_calculator_cost_form
input[type="text"] {
          border: solid 3px #79ccc9;
          color: #79ccc9;
          font-family: 'Montserrat', sans-serif;
          font-size: 20px;
          margin-right: 20px;
          padding: 15px;
          min-width: 60%; }
      body
.savings_calculator_content_wrapper
.saving_calculator_container
.savings_calculator_question_container
.knob_dial
.saving_calulator_knob {
        font-family: 'Montserrat', sans-serif !important; }
        body
.savings_calculator_content_wrapper
.saving_calculator_container
.savings_calculator_question_container
.knob_dial
.saving_calulator_knob::after {
          content: 'savings';
          display: block; }
      body
.savings_calculator_content_wrapper
.saving_calculator_container
.savings_calculator_question_container
.saving_calculator_cost_container {
        margin-bottom: 20px;
        text-align: left; }
        body
.savings_calculator_content_wrapper
.saving_calculator_container
.savings_calculator_question_container
.saving_calculator_cost_container
span {
          color: #79ccc9;
          display: block;
          font-size: 30px; }
          body
.savings_calculator_content_wrapper
.saving_calculator_container
.savings_calculator_question_container
.saving_calculator_cost_container
span.saving_calculator_your_cost, body
.savings_calculator_content_wrapper
.saving_calculator_container
.savings_calculator_question_container
.saving_calculator_cost_container
span.saving_calculator_average_cost {
            color: #f26e6d; }
          body
.savings_calculator_content_wrapper
.saving_calculator_container
.savings_calculator_question_container
.saving_calculator_cost_container
span.saving_calculator_esana_cost {
            color: #71c499; }
  @media only screen and (max-width: 992px) {
    body
.tool_description_container {
      margin-bottom: 80px; } }
  body
.tool_description_container.green_bg
.image_row {
    background-color: #71c499; }
  body
.tool_description_container.green_bg
.content_row h3 {
    color: #71c499; }
  body
.tool_description_container.red_bg
.image_row {
    background-color: #f26e6d; }
  body
.tool_description_container.red_bg
.content_row h3 {
    color: #f26e6d; }
  body
.tool_description_container.blue_bg
.image_row {
    background-color: #79ccc9; }
  body
.tool_description_container.blue_bg
.content_row h3 {
    color: #79ccc9; }
  body
.tool_description_container
.image_row {
    height: 50vh; }
    @media only screen and (max-width: 768px) {
      body
.tool_description_container
.image_row {
        height: auto;
        padding: 15px 0; } }
    body
.tool_description_container
.image_row
img {
      margin-top: 30px; }
  @media only screen and (max-width: 768px) {
    body
.tool_description_container
.content_row {
      margin-top: 30px; } }
  body
.tool_description_container
.pull-right {
    -webkit-box-ordinal-group: 2;
    -moz-box-ordinal-group: 2;
    box-ordinal-group: 2;
    -webkit-order: 2;
    -moz-order: 2;
    order: 2;
    -ms-flex-order: 2; }
  body
.tool_description_container
p {
    color: #666666;
    word-wrap: break-word; }
  body
.tool_description_container
h3 {
    color: white;
    font-size: 2.75em;
    font-weight: 200;
    padding: 0; }
  body
.our-mission h2, body
.our-mission
h3 {
    text-transform: uppercase; }
  body
.our-mission
a {
    color: #666666;
    border-bottom: solid 2px #79ccc9;
    text-decoration: none; }
  body
.our-mission
.intro
h3 {
    color: #79ccc9;
    font-size: 32px;
    margin-bottom: 15px; }
  body
.our-mission
.intro p {
    width: 80%;
    margin: 0 auto; }
  body
.our-mission
.intro
img {
    margin: 5% 0; }
  @media (min-width: 750px) {
    body
.our-mission
.video-content {
      display: flex;
      align-items: center;
      justify-content: center; } }
  body
.mission_hero_banner_container {
    background: transparent url("../img/mission/Couple.jpg") 50% 50% no-repeat;
    background-size: cover;
    height: 40vh;
    margin-bottom: 75px;
    width: 100%; }
  body
.contact
.row {
    display: flex;
    align-items: baseline; }
    body
.contact
.row
div {
      margin-bottom: 15px; }
    @media only screen and (max-width: 768px) {
      body
.contact
.row {
        display: block; } }
  body
.contact
h3 {
    color: #f26e6d;
    font-size: 20px;
    line-height: 30px;
    margin: 15px 0px; }
  body
.contact
a {
    color: #f26e6d;
    font-size: 18px;
    line-height: 22px; }
  body
.contact-form
.contact_us_form_message {
    display: none; }
    body
.contact-form
.contact_us_form_message
p {
      padding: 20px 30px; }
      body
.contact-form
.contact_us_form_message
p.success {
        background-color: #79ccc9;
        color: white; }
      body
.contact-form
.contact_us_form_message
p.fail {
        color: red; }
  body
.contact-form
form {
    margin-bottom: 100px; }
  body
.contact-form
.form-control {
    border: 3px solid #79ccc9;
    border-radius: 0px;
    height: 51px;
    color: #f26e6d;
    font-size: 20px;
    line-height: 24px; }
    body
.contact-form
.form-control.textbox {
      height: 325px; }
    body
.contact-form
.form-control::-moz-placeholder {
      color: #f26e6d;
      opacity: 0.8; }
    body
.contact-form
.form-control::-ms-input-placeholder {
      color: #f26e6d;
      opacity: 0.8; }
    body
.contact-form
.form-control::-webkit-input-placeholder {
      color: #f26e6d;
      opacity: 0.8; }
  body
.contact-form
.btn {
    margin: 0 auto;
    display: block;
    color: #79ccc9;
    border: 3px solid #79CCC9;
    background-color: white;
    font-size: 20px;
    line-height: 24px;
    padding: 12px 30px; }
  body
.price {
    height: 138px;
    width: 138px;
    border: 6px solid #f26e6d;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    margin: -75px auto 0px; }
    body
.price
h3 {
      color: #79ccc9;
      font-size: 72px;
      margin-top: 12%;
      padding: 10px;
      letter-spacing: -2px; }
      body
.price
h3
sup {
        font-size: 35%;
        top: -1.75em;
        letter-spacing: -2px; }
  body .dental-plus, body .med-plus, body
.deluxe-plus {
    background-repeat: no-repeat;
    background-size: cover; }
    body .dental-plus
.btn.red
, body .med-plus
.btn.red
, body
.deluxe-plus
.btn.red {
      position: relative;
      top: 45px; }
  body
.dental-plus {
    background-color: #f26e6d;
    background-image: url("../img/plans/ToothPattern.png"); }
    body
.dental-plus
.content_container {
      padding: 20px 0px; }
    body
.dental-plus
h2 {
      font-size: 6.5em;
      font-weight: 500;
      margin-bottom: 30px;
      margin-top: 50px; }
      @media only screen and (max-width: 768px) {
        body
.dental-plus
h2 {
          font-size: 26px; } }
    body
.dental-plus
h4 {
      color: white;
      font-size: 2.5em;
      font-weight: 300; }
      @media only screen and (max-width: 768px) {
        body
.dental-plus
h4 {
          font-size: 20px; } }
  body
.med-plus {
    background-color: #f26e6d;
    background-image: url("../img/plans/BandaidPattern.png"); }
    body
.med-plus
.content_container {
      padding: 20px 0px; }
    body
.med-plus
h2 {
      font-size: 6.5em;
      font-weight: 500;
      margin-bottom: 30px;
      margin-top: 50px; }
      @media only screen and (max-width: 768px) {
        body
.med-plus
h2 {
          font-size: 26px; } }
    body
.med-plus
h4 {
      color: white;
      font-size: 2.5em;
      font-weight: 300; }
      @media only screen and (max-width: 768px) {
        body
.med-plus
h4 {
          font-size: 20px; } }
  body
.deluxe-plus {
    background-color: #f26e6d;
    background-image: url("../img/plans/ClipboardPattern.png");
    position: relative; }
    body
.deluxe-plus
.content_container {
      padding: 20px 0px; }
    body
.deluxe-plus
h2 {
      font-size: 6.5em;
      font-weight: 500;
      margin-bottom: 30px;
      margin-top: 50px; }
      @media only screen and (max-width: 768px) {
        body
.deluxe-plus
h2 {
          font-size: 26px;
          margin-top: 90px; } }
    body
.deluxe-plus
h4 {
      color: white;
      font-size: 2.5em;
      font-weight: 300; }
      @media only screen and (max-width: 768px) {
        body
.deluxe-plus
h4 {
          font-size: 20px; } }
    body
.deluxe-plus
.best_value_ribbon {
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
      left: 0;
      position: absolute;
      top: 50%; }
      @media only screen and (max-width: 768px) {
        body
.deluxe-plus
.best_value_ribbon {
          -webkit-transform: translateY(0);
          -moz-transform: translateY(0);
          -ms-transform: translateY(0);
          -o-transform: translateY(0);
          transform: translateY(0);
          top: 31%; } }
  body .dental-plus-copy, body .med-plus-copy, body
.deluxe-plus-copy {
    margin: 100px 0px; }
    body .dental-plus-copy
span
, body .med-plus-copy
span
, body
.deluxe-plus-copy
span {
      color: #79ccc9;
      font-size: 1.4em; }
    body .dental-plus-copy
p
, body .med-plus-copy
p
, body
.deluxe-plus-copy
p {
      font-size: 1.65em;
      margin: 0 !important; }
    body .dental-plus-copy p, body .dental-plus-copy
a
, body .med-plus-copy p, body .med-plus-copy
a
, body
.deluxe-plus-copy p, body
.deluxe-plus-copy
a {
      color: #666666; }
    body .dental-plus-copy
a
, body .med-plus-copy
a
, body
.deluxe-plus-copy
a {
      text-decoration: underline;
      text-decoration-color: #79ccc9; }
    body .dental-plus-copy
ul.plus_sign_list
li
, body .med-plus-copy
ul.plus_sign_list
li
, body
.deluxe-plus-copy
ul.plus_sign_list
li {
      color: #79ccc9;
      font-weight: bold; }
    @media only screen and (max-width: 992px) {
      body .dental-plus-copy
> div.content_container > div.row > div:last-child
, body .med-plus-copy
> div.content_container > div.row > div:last-child
, body
.deluxe-plus-copy
> div.content_container > div.row > div:last-child {
        margin-top: 30px; } }
  body
footer {
    margin: 80px 0 20px 0;
    overflow: hidden; }
    @media only screen and (max-width: 768px) {
      body
footer
.esana_logo {
        margin-bottom: 15px;
        text-align: center; } }
    body
footer
.footer_social_links {
      -webkit-box-pack: end;
      -moz-box-pack: end;
      box-pack: end;
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      -ms-justify-content: flex-end;
      -o-justify-content: flex-end;
      justify-content: flex-end;
      -ms-flex-pack: end; }
      body
footer
.footer_social_links
a {
        display: inline-block;
        margin-right: 10px;
        text-decoration: none; }
        body
footer
.footer_social_links
a:last-child {
          margin-right: 0; }
      @media only screen and (max-width: 768px) {
        body
footer
.footer_social_links {
          text-align: right; } }
    body
footer
.copyright_content {
      -webkit-box-pack: end;
      -moz-box-pack: end;
      box-pack: end;
      -webkit-justify-content: flex-end;
      -moz-justify-content: flex-end;
      -ms-justify-content: flex-end;
      -o-justify-content: flex-end;
      justify-content: flex-end;
      -ms-flex-pack: end;
      color: #f26e6d;
      line-height: 1; }
      @media only screen and (max-width: 768px) {
        body
footer
.copyright_content {
          text-align: center; } }
      body
footer
.copyright_content
.copyright_content_links {
        margin-left: 20px; }
        @media only screen and (max-width: 768px) {
          body
footer
.copyright_content
.copyright_content_links {
            margin-top: 10px; } }
        body
footer
.copyright_content
.copyright_content_links
a {
          color: #f26e6d;
          padding: 0 5px; }
          @media only screen and (max-width: 768px) {
            body
footer
.copyright_content
.copyright_content_links
a {
              display: inline-block !important; } }
          body
footer
.copyright_content
.copyright_content_links
a::before {
            content: "";
            background-color: #666666;
            display: inline-block;
            height: 25px;
            margin-right: 10px;
            width: 2px; }
            @media only screen and (max-width: 768px) {
              body
footer
.copyright_content
.copyright_content_links
a::before {
                display: none; } }
          body
footer
.copyright_content
.copyright_content_links
a:last-child::after {
            content: "";
            background-color: #666666;
            display: inline-block;
            margin-left: 10px;
            height: 25px;
            width: 2px; }
            @media only screen and (max-width: 768px) {
              body
footer
.copyright_content
.copyright_content_links
a:last-child::after {
                display: none; } }
