{# app/Resources/views/contact.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Contact Page{% endblock %}

{% block body %}
	<div class="content_container">
		Contact Page
		
		<a href="" class="btn blue">TEST</a>
	</div>
{% endblock %}