{# app/Resources/views/faqs.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}FAQs Page{% endblock %}

{% block bodyClass %}faqs{% endblock %}

{% block body %}
	<div class="faqs_content">
		<div class="content_container">
			<div class="row">
				<div class="col-xs-12 col-md-offset-2 col-md-8">
					<div class="text-center">
						<h2>FREQUENTLY ASKED QUESTIONS</h2>
						
						<p><strong>Here are some frequently asked questions about the eSana program</strong></p>
					</div>
					
					<div class="faq_question_answer_container">
						<p class="question_container">Does eSana have a specific enrollment period?</p>
						<p class="answer_container">No, you may sign up for eSana plans at any time.</p>
						
						<p class="question_container">Who can be included in my discount membership?</p>
						<p class="answer_container">Your membership will provide discounts to everyone in your household. This means that not only can families sign up together, but so can roommates!</p>
						
						<p class="question_container">How much does each membership cost?</p>
						<p class="answer_container">DentalPlus and MedPlus are each only $24.95 per-month for your entire house. DeluxePlus, the plan that includes all DentalPlus and MedPlus benefits, is only $39.95 per-month.</p>
						
						<p class="question_container">How do I pay for my membership?</p>
						<p class="answer_container">Monthly fees are paid by debit or credit card. We offer invoicing only for annual memberships paid one year in advance.</p>
						
						<p class="question_container">Do I get to choose my own provider?</p>
						<p class="answer_container">Yes, you can choose any network provider.</p>
						
						<p class="question_container">Can I use any hospital and still receive assistance from the Hospital Advocacy Program?</p>
						<p class="answer_container">Yes, you can use our Hospital Advocacy Program at any hospital.</p>
						
						<p class="question_container">How do I find my nearest provider?</p>
						<p class="answer_container">Our network includes 75,000 dentists, 12,000 vision care providers, 7,500 chiropractors, and approximately 50,000 pharmacies. Find your closest one <a href="https://esana.savewithdiscounthealthcare.com/esana/providersearch" target="_blank" onclick="dataLayer.push({'event': 'Link-to-Provider-Search'});">here</a>.</p>
						
						<p class="question_container">When do I start receiving discounts after signing up?</p>
						<p class="answer_container">There is no waiting period before you can start using the DentalPlus program! There are instant savings, no paperwork to fill out, and no limits on visits to your providers. However, you must allow 3 business days after the activation of your MEDPlus or DeluxePlus membership to begin using the Hospital Advocacy program!</p>
						
						<p class="question_container">Will I be accepted if I have pre-existing conditions?</p>
						<p class="answer_container">We accept all pre-existing conditions, aside from orthodontic treatments in process.</p>
						
						<p class="question_container">Will my personal information be protected?</p>
						<p class="answer_container">Yes, eSana is 100% HIPAA compliant.</p>
						
						<p class="question_container">Do you provide a fee schedule?</p>
						<p class="answer_container">We provide a fee schedule for dental procedures and chiropractic payments with no set fees.</p>
						
						<p class="question_container">Are doctors reimbursed by eSana for their services?</p>
						<p class="answer_container">We do not reimburse providers. We are simply providing our community with a discount.</p>
						
						<p class="question_container">Can I use eSana if I already have insurance?</p>
						<p class="answer_container">The eSana discount card can be used in conjunction with your current insurance plan if you have one. With each plan's different offers, eSana is a great option to supplementing what isn't covered by your insurance. Acceptance of both is determined by the provider's office policies We recommend using your existing insurance as the primary payment method if our services overlap. However, this discount card cannot be used in conjunction with Medicare/Medicaid.</p>
						
						<p class="question_container">Do you provide discounts on emergency care?</p>
						<p class="answer_container">Yes, we provide some discounts for emergency services through our MedPlus program. Depending on the extent of the charges, you may be eligible for our Hospital Advocacy Program. </p>
						
						<p class="question_container">Could your Hospital Advocacy Program help with the hospital bills I currently have?</p>
						<p class="answer_container">Yes, our hospital advocacy program will work with your pre-existing hospital bills that total over $2,500, for a fee of $250.</p>
						
						<p class="question_container">Can I cancel my plan at any time?</p>
						<p class="answer_container">Yes, your eSana plan can be contracted or canceled at any moment with no extra fees. Though, we would be sad to see you go!</p>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}