{# app/Resources/views/mission.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Mission Page{% endblock %}

{% block body %}
	<div class="content_container">
		Mission Page
		
		<a href="" class="btn blue">TEST</a>
	</div>
{% endblock %}