{# app/Resources/views/mission.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Mission Page{% endblock %}

{% block body %}
	<div class="content_container our-mission">
		<div class="row">
			<div class="col-sm-12 text-center intro">
				<h2>Our Mission</h2>

				<p>
				eSana was created with a single purpose — to build a healthier community in a time when the fate of health care seems uncertain. Through our three affordable discount plans and <a href="#give-back">$2 Give Back Initiative</a> we are doing just that
				</p>
			</div>
		</div>
	</div>
	
	<div class="mission_hero_banner_container">
	</div>
	
	<div class="content_container our-mission">
		<div class="row">
			<div class="col-sm-12 text-center intro">
				<h3>The Problem</h3>

				<p>
				The​ ​price​ ​of​ ​health​ ​care​ ​rises​ ​each​ ​year,​ ​but​ ​accessing​ ​that​ ​care​ ​isn’t​ ​getting​ ​easier.​ ​The​ ​system can​ ​be​ ​unpredictable​ ​and​ ​inconsistent.​ ​We​ ​experienced​ ​this​ ​first-hand​ ​raising​ ​our​ ​families.​ ​From broken​ ​bones​ ​to​ ​braces​ ​-​ ​each​ ​trip​ ​to​ ​the​ ​doctor​ ​left​ ​us​ ​searching​ ​for​ ​a​ ​solution​ ​to​ ​our​ ​increasing premiums.
				</p>
			</div>
		</div>
	</div>
	
	<div class="red-banner">
		<div class="content_container">
			<div class="row">
				<div class="col-sm-12">
					<p>
					eSana is not insurance, it’s an easy-to-use discount health care card.
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="content_container our-mission">
		<div class="row">
			<div class="col-sm-6">
				<p style="margin-top:0;">
				No one should ever have to choose between health care and their budget - eSana works to help you maintain stability in both. One eSana card can cover every person in your household, whether you are related or not. We don’t believe in pre-existing conditions either. eSana will help you access the care you need, no matter what. Our network, made of thousands of health care professionals, offers exclusive discounts to our members through our monthly plans. With eSana it’s not out-of-pocket care, it’s in your pocket.
				</p>

				<p>
				Even with help from an employer, traditional health care can cost thousands of dollars per year. Why pay for health insurance you might need when you can pay $300 a year for a personal health care package you'll actually use.
				</p>
			</div>

			<div class="col-sm-6">
				<img src="assets/img/mission/LittleGirl.jpg" class="img-reponsive" />
			</div>
		</div>
	</div>
	
	<a name="give-back"></a>
	<div class="blue-banner">
		<div class="content_container">
			<div class="row">
				<div class="col-sm-12">
					<p>
					We believe that care doesn’t need to be costly to be quality. We also believe that building a healthier community requires a little help from everyone in it.
					</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="content_container our-mission">
		<div class="row video-content">
			<div class="col-sm-6">
				<img src="assets/img/mission/VideoStill.png" class="video_container img-reponsive" />
			</div>
			
			<div class="col-sm-6">
				<p>
				eSana doesn’t have sales people. We rely on our community to help us grow, and at the same time, we’ll help the community by giving back $2 to a local charity. Every month. For every member. Always.
				</p>
			</div>
		</div>

		<div class="row">
			<div class="col-sm-12 white-banner">
				<p>
				Health care shouldn’t be a luxury and neither should helping your community thrive. Cut the fluff. Save your cash. Get eSana.
				</p>
			</div>
		</div>

	</div>
{% endblock %}