{# app/Resources/views/plans.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Plans Page{% endblock %}

{% block body %}
	<div class="our-plans">
		<div class="content_container">
			<div class="row">
				<div class="col-xs-12 col-md-offset-3 col-md-6 text-center">
					<h2>OUR PLANS</h1>
					<p>Finding the health care plan that’s best for your household is easy with eSana. We offer three simple plans, each designed to bring you the care you need at the most affordable price.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="dental-plus"> 
		<div class="content_container">
			<div class="row">
				<div class="col-xs-offset-3 col-xs-4 col-md-offset-0 col-md-3">
					<div class="price price_text">
						<h3><sup>$</sup>24<sup>.95</sup></h3>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 text-center">
					<h2>DentalPlus</h2>
					<h4>For the household looking for more than just dental services</h4>
					<a href class="btn red text-center">
						SIGN UP
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="dental-plus-copy">
		<div class="content_container">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<p>
						The DentalPlus program provides discounts on a wide range of health care services. More than just dental; your vision, prescription, and chiropractic needs are all available at a discounted price through DentalPlus. See the full list of discounts and services offered through DentalPlus <a href="#">here</a>.
					</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<span>
								+ Dental Discounts<br/>up to 75%
							</span><br/><br/>
							<span>
								+ Vision Discounts<br/>up to 60%
							</span><br/><br/>
							<span>
								+ Chiropractic Discounts<br/>up to 50%
							</span><br/><br/>
						</div>
						<div class="col-xs-12 col-sm-6">
							<span>
								+ Prescription Discounts<br/>up to 85%
							</span><br/><br/>
							<span>
								+ Wellness Screenings
							</span><br/><br/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="med-plus"> 
		<div class="content_container">
			<div class="row">
				<div class="col-xs-offset-3 col-xs-4 col-md-offset-0 col-md-3">
					<div class="price price_text">
						<h3><sup>$</sup>24<sup>.95</sup></h3>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 text-center">
					<h2>MedPlus</h2>
					<h4>For the household with ‘round the clock needs</h4>
					<a href class="btn red text-center">
						SIGN UP
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="med-plus-copy">
		<div class="content_container">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<p>
						The MedPlus plan is focused on making your health care accessible. This program offers discounts on primary care and prescriptions, as well as 24/7 access to doctors and pharmacies with our TeleMedicine service. For just $25 per call or email, you can receive advice and prescriptions at any time. See the full list of discounts and services offered through MedPlus <a href="#">here</a>.
					</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<span>
								+ 24/7 Telemedicine<br/>for $25/call
							</span><br/><br/>
							<span>
								+ Surgery Saver up<br/>to 66%
							</span><br/><br/>
							<span>
								+ Bill Negotiator
							</span><br/><br/>
						</div>
						<div class="col-xs-12 col-sm-6">
							<span>
								+ Ancillary Services<br/>Discounts up to 70%
							</span><br/><br/>
							<span>
								+ Prescription Discounts<br/>up to 85%
							</span><br/><br/>
							<span>
								+ Healthcare Navigator
							</span><br/><br/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="deluxe-plus"> 
		<div class="content_container">
			<div class="row">
				<div class="col-xs-offset-3 col-xs-4 col-md-offset-0 col-md-3">
					<div class="price price_text">
						<h3><sup>$</sup>39<sup>.95</sup></h3>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 text-center">
					<h2>DeluxePlus</h2>
					<h4>For the household that needs it all</h4>
					<a href class="btn red text-center">
						SIGN UP
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="deluxe-plus-copy">
		<div class="content_container">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<p>
						DeluxePlus is a combination of the benefits from MedPlus and DentalPlus. For only a few dollars more, you and your family have the convenient access that MedPlus guarantees with the discounted services that DentalPlus offers. See the full list of discounts and services offered through DeluxePlus <a href="#">here</a>.
					</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<span>
								+ Dental Discounts<br/>up to 75%
							</span><br/><br/>
							<span>
								+ Vision Discounts<br/>up to 60%
							</span><br/><br/>
							<span>
								+ Chiropractic Discounts<br/>up to 50%
							</span><br/><br/>
							<span>
								+ 24/7 Telemedicine<br/>for $25/call
							</span><br/><br/>
							<span>
								+ Prescription Discounts<br/>up to 85%
							</span><br/><br/>							
							<span>
								+ Healthcare Navigator
							</span><br/><br/>
						</div>
						<div class="col-xs-12 col-sm-6">
							<span>
								+ Surgery Saver up<br/>to 66%
							</span><br/><br/>
							<span>
								+ Bill Negotiator
							</span><br/><br/>
							<span>
								+ Ancillary Services<br/>Discounts up to 70%
							</span><br/><br/>
							<span>
								+ Wellness Screenings
							</span><br/><br/>
							<span>
								+ Hearing
							</span><br/><br/>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}