{# app/Resources/views/plans.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Plans Page{% endblock %}

{% block body %}
	<div class="our-plans">
		<div class="content_container">
			<div class="row">
				<div class="col-xs-12 col-md-offset-3 col-md-6 text-center">
					<h2>OUR PLANS</h1>
					<p>Finding the health care plan that’s best for your <span class="tool_tip" data-tool-tip="eSana believes that health care access shouldn’t be limited to immediate family. Now, a household can include extended family and roommates.">household</span> is easy with eSana. We offer three simple plans, each designed to bring you the care you need at the most affordable price.</p>
				</div>
			</div>
		</div>
	</div>
	<div id="dental_section" class="dental-plus"> 
		<div class="content_container">
			<div class="row">
				<div class="col-sm-offset-4 col-sm-4 col-xs-12 col-md-offset-0 col-md-3">
					<div class="price price_text">
						<h3><sup>$</sup>24<sup>.95</sup></h3>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 text-center">
					<h2>DentalPlus</h2>
					<h4>For the <span class="tool_tip" data-tool-tip="eSana believes that health care access shouldn’t be limited to immediate family. Now, a household can include extended family and roommates.">household</span> looking for more than just dental services</h4>
					<a href class="btn red text-center">
						SIGN UP
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="dental-plus-copy">
		<div class="content_container">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<p>
						The DentalPlus program provides discounts on a wide range of health care services. More than just dental; your vision, prescription, and chiropractic needs are all available at a discounted price through DentalPlus. See the full list of discounts and services offered through DentalPlus <a href="#">here</a>.
					</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<ul class="plus_sign_list blue">
								<li>Dental Discounts up to 75%</li>
								<li>Vision Discounts up to 60%</li>
								<li>Chiropractic Discounts up to 50%</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-6">
							<ul class="plus_sign_list">
								<li>Prescription Discounts up to 85%</li>
								<li>Wellness Screenings</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="medical_section" class="med-plus"> 
		<div class="content_container">
			<div class="row">
				<div class="col-sm-offset-4 col-sm-4 col-xs-12 col-md-offset-0 col-md-3">
					<div class="price price_text">
						<h3><sup>$</sup>24<sup>.95</sup></h3>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 text-center">
					<h2>MedPlus</h2>
					<h4>For the <span class="tool_tip" data-tool-tip="eSana believes that health care access shouldn’t be limited to immediate family. Now, a household can include extended family and roommates.">household</span> with ‘round the clock needs</h4>
					<a href class="btn red text-center">
						SIGN UP
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="med-plus-copy">
		<div class="content_container">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<p>
						The MedPlus plan is focused on making your health care accessible. This program offers discounts on primary care and prescriptions, as well as 24/7 access to doctors and pharmacies with our TeleMedicine service. For just $25 per call or email, you can receive advice and prescriptions at any time. See the full list of discounts and services offered through MedPlus <a href="#">here</a>.
					</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<ul class="plus_sign_list">
								<li>24/7 Telemedicine for $25/call</li>
								<li>Surgery Saver up to 66%</li>
								<li>Bill Negotiator</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-6">
							<ul class="plus_sign_list">
								<li>Ancillary Services Discounts up to 70%</li>
								<li>Prescription Discounts up to 85%</li>
								<li>Healthcare Navigator</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="deluxe_section" class="deluxe-plus"> 
		<div class="content_container">
			<div class="row">
				<div class="col-sm-offset-4 col-sm-4 col-xs-12 col-md-offset-0 col-md-3">
					<div class="price price_text">
						<h3><sup>$</sup>39<sup>.95</sup></h3>
					</div>
				</div>
				<div class="col-xs-12 col-md-6 text-center">
					<h2>DeluxePlus</h2>
					<h4>For the <span class="tool_tip" data-tool-tip="eSana believes that health care access shouldn’t be limited to immediate family. Now, a household can include extended family and roommates.">household</span> that needs it all</h4>
					<a href class="btn red text-center">
						SIGN UP
					</a>
				</div>
			</div>
		</div>
		
		<div class="best_value_ribbon">
			<img src="{{ baseUrl }}/assets/img/plans/img-best-value-ribbon.png" class="img-responsive" />
		</div>
	</div>
	<div class="deluxe-plus-copy">
		<div class="content_container">
			<div class="row">
				<div class="col-xs-12 col-md-6">
					<p>
						DeluxePlus is a combination of the benefits from MedPlus and DentalPlus. For only a few dollars more, you and your family have the convenient access that MedPlus guarantees with the discounted services that DentalPlus offers. See the full list of discounts and services offered through DeluxePlus <a href="#">here</a>.
					</p>
				</div>
				<div class="col-xs-12 col-md-6">
					<div class="row">
						<div class="col-xs-12 col-sm-6">
							<ul class="plus_sign_list">
								<li>Dental Discounts up to 75%</li>
								<li>Vision Discounts up to 60%</li>
								<li>Chiropractic Discounts up to 50%</li>
								<li>24/7 Telemedicine for $25/call</li>
								<li>Prescription Discounts up to 85%</li>
								<li>Healthcare Navigator</li>
							</ul>
						</div>
						<div class="col-xs-12 col-sm-6">
							<ul class="plus_sign_list">
								<li>Surgery Saver up to 66%</li>
								<li>Bill Negotiator</li>
								<li>Ancillary Services Discounts up to 70%</li>
								<li>Wellness Screenings</li>
								<li>Hearing</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
{% endblock %}