{# app/Resources/views/plans.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Plans Page{% endblock %}

{% block body %}
	<div class="content_container">
		Plans Page
		
		<a href="" class="btn blue">TEST</a>
	</div>
{% endblock %}