{# app/Resources/views/privacy.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Privacy Policy Page{% endblock %}

{% block body %}
	<div class="disclaimer_content">
		<div class="content_container">
			<div class="row">
				<div class="col-xs-12 col-md-offset-2 col-md-8 text-center">
					<h2>DISCLAIMER</h2>
					<h4>eSana&reg; PROGRAMS ARE NOT INSURANCE!</h4>
					
					<p>The discount medical plans of eSana&reg; offer a reduction in the cost of medical, dental, vision, pharmaceutical and chiropractic services. eSana&reg; discount benefit programs are not insurance, nor are they an alternative to or substitution for insurance coverage. Since they are not health insurance, members must use eSana&reg; providers and members are responsible for payment to the eSana&reg; providers at point of service of discount healthcare fees incurred. If you currently have insurance, you should be aware that canceling that policy may make it difficult to later obtain coverage. eSana&reg; recommends that you speak to your insurance agent or your company's insurance administrator before canceling any health insurance policy for any reason.</p>
					
					<p>The range of discounts for medical or ancillary services provided under this plan will vary depending on the type of provider and medical or ancillary service received.</p>
					
					<p>PLEASE NOTE THE FOLLOWING STATES WHERE eSana&reg; DOES NOT OFFER SERVICES:</p>
					<p>Alaska, Guam, Montana, North Dakota, Puerto Rico, Rhode Island, South Dakota, Vermont, Washington, Wyoming, US Virgin Islands, Utah</p>
					
					<div class="divider"></div>
					
					<h4>*100% Satisfaction Guarantee - Refund Policy</h4>
					
					<p>If you are not satisfied within the first 30 days of becoming a member, you may cancel your membership in fax or email. FAX to (469) 229-4595 or email to stop@stopmembership.com. The one-time registration fee and money paid for healthcare services and products are not refundable. After 30 days membership fees are non-refundable. You may cancel your membership at any time by written request and the return of your membership cards. Attempts to cancel by telephone will not be accepted.</p>
					
					<div class="divider"></div>
					
					<h2>PRIVACY STATEMENT</h2>
					
					<p>At eSana&reg; Corporation ("eSana&reg;"), we understand that the privacy and security of your personal information are of utmost importance to you. At eSana&reg;, we realize the value you place on the privacy and security of information that personally identifies you.</p>
					
					<p>No account or personal information is retrieved from eSana&reg;'s website servers when a visitor browses the public (pre-login) areas of eSana&reg;s website.</p>
					
					<p>Any personal and account data collected, through the eSana&reg; hosted website, and maintained by eSana&reg; is done so to fulfill our legal and regulatory requirements and to provide you with the products, information and services you have requested. eSana&reg; reserves the right to disclose or report personal information, in limited circumstances, where we believe, in good faith, that disclosure is required under law, to cooperate with regulators or law enforcement authorities; to perform necessary credit checks or collect or report debts owed to us; and to protect our rights or property.</p>
					
					<p>eSana&reg; employees will be provided with client or visitor's information in order to respond to that party's needs and provide the party with information regarding the specific products in which they may have an interest. eSana&reg; employees are instructed to use strict standards of care in handling the personal, confidential information of customers. Service providers, in the normal course of business, assist eSana&reg; in meeting the needs of customers may receive personal information collected from a client or visitor.</p>
					
					<p>Upon becoming an eSana&reg; member, your ACH or credit card authentication is processed in a Secure Socket Layer (SSL) encrypted session between the client browser and the eSana&reg; servers. In order to ensure the highest level of security, Verisign Global Server ID's have been installed on each server. Global Server ID's enable clients to establish a Secure Socket Layer (SSL) encrypted session with the server. No Clear text password authentication is possible.</p>
					
					<p>Because we at eSana&reg; wish to provide our members with the best possible service, the accuracy and completeness of your personal information is important to us. We ask that you review your information regularly to ensure that it is correct. Please contact us if you need to correct or update your information.</p>
					
					<p>eSana&reg; will not sell any personal information collected through its website to any outside source.</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}