{# app/Resources/views/savings.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Savings Page{% endblock %}

{% block body %}
	<section id="savings_page_container">
		<div class="content_container top_container">
			<div class="row">
				<div class="col-xs-12 col-md-offset-3 col-md-6 text-center">
					<h2>YOUR SAVINGS</h2>
					<p>No one should have to choose between health care and everything else. See how eSana can help you save!</p>
					
					<div class="body_btn_container center_align">
						<a href="#" class="trigger_video btn blue" data-video="eSana_video_2">WATCH OUR VIDEO</a>
					</div>
				</div>
			</div>
		</div>
		
		<div class="content_container savings_chart">
			<div class="row">
				<div class="col-xs-12 text-center">
					<h3>TELEMEDICINE SAVINGS</h3>
					
					<div class="saving_chart_container">
						<div class="savings_chart_headline">Telemedicine gives you and your household 24/7 access to Doctors and Pharmacists via your phone and email.</div>
						<div class="savings_chart_header">
							<div class="col-xs-6">Service</div>
							<div class="col-xs-2">Average Cost</div>
							<div class="col-xs-2">eSana Cost</div>
							<div class="col-xs-2">eSana Savings</div>			
						</div>
						<div class="savings_chart_content">
							<div class="saving_chart_content_items">
								<div class="col-xs-6">Telemedicine</div>
								<div class="col-xs-2">$50.00</div>
								<div class="col-xs-2">$25.00</div>
								<div class="col-xs-2">50.00%</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div class="content_container savings_chart">
			<div class="row">
				<div class="col-xs-12 text-center">
					<h3>PRESCRIPTION SAVINGS</h3>
					
					<div class="saving_chart_container">
						<div class="savings_chart_headline">eSana offers discounts on a variety of generic and name brand prescriptions, look below to see a full list of options.</div>
						<div class="savings_chart_header">
							<div class="col-md-4 col-xs-2">Drug Name</div>
							<div class="col-xs-2">Dosage</div>
							<div class="col-md-1 col-xs-2">Days Supply</div>
							<div class="col-xs-2">Retail Cost</div>
							<div class="col-md-1 col-xs-2">eSana Cost</div>
							<div class="col-xs-2">eSana Savings</div>			
						</div>
						<div class="savings_chart_content">
							<div class="saving_chart_content_items row-eq-height">
								<div class="col-md-4 col-xs-2">Phentermine Tab</div>
								<div class="col-xs-2">37.5 MG</div>
								<div class="col-md-1 col-xs-2">30</div>
								<div class="col-xs-2">$117.18</div>
								<div class="col-md-1 col-xs-2">$13.27</div>
								<div class="col-xs-2">88.7%</div>
							</div>
							<div class="saving_chart_content_items row-eq-height">
								<div class="col-md-4 col-xs-2">Tramadol HCL Tab</div>
								<div class="col-xs-2">50 MG</div>
								<div class="col-md-1 col-xs-2">30</div>
								<div class="col-xs-2">$83.98</div>
								<div class="col-md-1 col-xs-2">$11.20</div>
								<div class="col-xs-2">86.7%</div>
							</div>
							<div class="saving_chart_content_items row-eq-height">
								<div class="col-md-4 col-xs-2">Pantoprazole Tab</div>
								<div class="col-xs-2">50 MG</div>
								<div class="col-md-1 col-xs-2">30</div>
								<div class="col-xs-2">$149.03</div>
								<div class="col-md-1 col-xs-2">$21.32</div>
								<div class="col-xs-2">85.7%</div>
							</div>
							<div class="saving_chart_content_items row-eq-height">
								<div class="col-md-4 col-xs-2">Atorvastatin Tab</div>
								<div class="col-xs-2">20 MG</div>
								<div class="col-md-1 col-xs-2">30</div>
								<div class="col-xs-2">$137.99</div>
								<div class="col-md-1 col-xs-2">$25.49</div>
								<div class="col-xs-2">81.5%</div>
							</div>
							<div class="saving_chart_content_items row-eq-height">
								<div class="col-md-4 col-xs-2">Ranitidine Tab</div>
								<div class="col-xs-2">300 MG</div>
								<div class="col-md-1 col-xs-2">30</div>
								<div class="col-xs-2">$59.99</div>
								<div class="col-md-1 col-xs-2">$18.50</div>
								<div class="col-xs-2">69.2%</div>
							</div>
							<div class="saving_chart_content_items row-eq-height">
								<div class="col-md-4 col-xs-2">Alprazolam Tablet</div>
								<div class="col-xs-2">2 MG</div>
								<div class="col-md-1 col-xs-2">30</div>
								<div class="col-xs-2">$42.69</div>
								<div class="col-md-1 col-xs-2">$13.20</div>
								<div class="col-xs-2">68.9%</div>
							</div>
							<div class="saving_chart_content_items row-eq-height">
								<div class="col-md-4 col-xs-2">Armour Throid Tab</div>
								<div class="col-xs-2">60 MG</div>
								<div class="col-md-1 col-xs-2">30</div>
								<div class="col-xs-2">$80.92</div>
								<div class="col-md-1 col-xs-2">$25.64</div>
								<div class="col-xs-2">68.3%</div>
							</div>
							<div class="saving_chart_content_items row-eq-height">
								<div class="col-md-4 col-xs-2">Diazepam Tab</div>
								<div class="col-xs-2">5 MG</div>
								<div class="col-md-1 col-xs-2">30</div>
								<div class="col-xs-2">$14.99</div>
								<div class="col-md-1 col-xs-2">$5.00</div>
								<div class="col-xs-2">66.0%</div>
							</div>
							<div class="saving_chart_content_items row-eq-height">
								<div class="col-md-4 col-xs-2">Zolpidem Tab</div>
								<div class="col-xs-2">5 MG</div>
								<div class="col-md-1 col-xs-2">30</div>
								<div class="col-xs-2">$53.44</div>
								<div class="col-md-1 col-xs-2">$21.42</div>
								<div class="col-xs-2">59.9%</div>
							</div>
							<div class="saving_chart_content_items row-eq-height">
								<div class="col-md-4 col-xs-2">Naproxen Tab</div>
								<div class="col-xs-2">375 MG</div>
								<div class="col-md-1 col-xs-2">30</div>
								<div class="col-xs-2">$28.89</div>
								<div class="col-md-1 col-xs-2">$11.80</div>
								<div class="col-xs-2">59.2%</div>
							</div>
							<div class="saving_chart_content_items row-eq-height">
								<div class="col-md-4 col-xs-2">Oxycodine - Acetaminophen</div>
								<div class="col-xs-2">5-325 MG</div>
								<div class="col-md-1 col-xs-2">10</div>
								<div class="col-xs-2">$22.69</div>
								<div class="col-md-1 col-xs-2">$10.62</div>
								<div class="col-xs-2">53.2%</div>
							</div>
							<div class="saving_chart_content_items row-eq-height">
								<div class="col-md-4 col-xs-2">Lisinopril Tab</div>
								<div class="col-xs-2">30 MG</div>
								<div class="col-md-1 col-xs-2">30</div>
								<div class="col-xs-2">$22.82</div>
								<div class="col-md-1 col-xs-2">$13.69</div>
								<div class="col-xs-2">40.0%</div>
							</div>
							<div class="saving_chart_content_items row-eq-height">
								<div class="col-md-4 col-xs-2">Prednisone Tab</div>
								<div class="col-xs-2">10 MG</div>
								<div class="col-md-1 col-xs-2">5</div>
								<div class="col-xs-2">$11.99</div>
								<div class="col-md-1 col-xs-2">$9.41</div>
								<div class="col-xs-2">21.5%</div>
							</div>
							<div class="saving_chart_content_items row-eq-height">
								<div class="col-md-4 col-xs-2">Fexofenadine HCL Tab</div>
								<div class="col-xs-2">60 MG</div>
								<div class="col-md-1 col-xs-2">90</div>
								<div class="col-xs-2">$62.24</div>
								<div class="col-md-1 col-xs-2">$56.48</div>
								<div class="col-xs-2">9.3%</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}