{# app/Resources/views/tools.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Tools Page{% endblock %}

{% block body %}
	<div class="your-tools">
		<div class="content_container">
			<div class="row">
				<div class="col-xs-12 col-md-offset-3 col-md-6 text-center">
					<h2>YOUR TOOLS</h2>
					<p>Our free tools make it easy to find providers, savings, and the perfect plan for your <span class="tool_tip" data-tool-tip="eSana believes that health care access shouldn’t be limited to immediate family. Now, a household can include extended family and roommates.">household</span>.</p>
				</div>
			</div>
		</div>
	</div>
	
	<div class="tool_description_container green_bg text-center">
		<div class="content_container">
			<div class="row va-item">
				<div class="image_row va-item center_align col-xs-12 col-md-6 ">
					<div>
						<h3>SAVINGS CALCULATOR</h3>
						<img src="assets/img/tools/SavingsCalculator.png"/>
					</div>
				</div>
				<div class="content_row col-xs-12 col-md-6">
					<h3>SAVINGS CALCULATOR</h3>
					<p>With the savings calculator tool, you'll be able to see just how much money you can save when choosing eSana. Our system is designed to provide you with maximum savings. </p>
					<a href="/tools/savings-calculator" class="btn green text-center" onclick="dataLayer.push({'event': 'Link-to-Savings-Calculator'});">
						LET'S START
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="tool_description_container red_bg text-center">
		<div class="content_container">
			<div class="row va-item">
				<div class="image_row va-item center_align col-xs-12 col-md-6 pull-right">
					<div>
						<h3>PROVIDER SEARCH</h3>
						<img src="assets/img/tools/ProviderSearch.png"/>
					</div>
				</div>
				<div class="content_row col-xs-12 col-md-6">
					<h3>PROVIDER SEARCH</h3>
					<p>Our Provider Search Tool will allow you to find the heath care professionals closest to your <span class="tool_tip" data-tool-tip="eSana believes that health care access shouldn't be limited to immediate family. Now, a household can include extended family and roommates.">household</span>. You can see which professionals in your area are apart of our eSana network. By clicking our Provider Search Tool you will be redirected to our larger database of professionals before coming back to eSana to pick your plan.</p>
					<a href="https://esana.savewithdiscounthealthcare.com/esana/providersearch" target="_blank" class="btn red text-center" onclick="dataLayer.push({'event': 'Link-to-Provider-Search'});">
						LET'S START
					</a>
				</div>
				
			</div>
		</div>
	</div>
	
	<div class="tool_description_container blue_bg text-center">
		<div class="content_container">
			<div class="row va-item">
				<div class="image_row va-item center_align col-xs-12 col-md-6">
					<div>
						<h3>PRESCRIPTION SEARCH</h3>
						<img src="assets/img/tools/PrescriptionSearch.png"/>
					</div>
				</div>
				<div class="content_row col-xs-12 col-md-6">
					<h3>PRESCRIPTION SEARCH</h3>
					<p>The Prescription Search Tool lets you see which of the prescriptions you or the members of your <span class="tool_tip" data-tool-tip="eSana believes that health care access shouldn't be limited to immediate family. Now, a household can include extended family and roommates.">household</span> take that will be discounted with eSana. By clicking our Prescription Search Tool you will be redirected to our larger database of prescription discounts before coming back to eSana to pick your plan.</p>
					<a href="https://esana.savewithdiscounthealthcare.com/esana/RXTools" target="_blank" class="btn blue text-center" onclick="dataLayer.push({'event': 'Link-to-Prescription-Tools'});">
						LET'S START
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="tool_description_container orange_bg text-center">
		<div class="content_container">
			<div class="row va-item">
				<div class="image_row va-item center_align col-xs-12 col-md-6 pull-right">
					<div>
						<h3>FAQ</h3>
						<img src="assets/img/tools/img-chat-icon.png"/>
					</div>
				</div>
				<div class="content_row col-xs-12 col-md-6">
					<h3>FAQ</h3>
					<p>Have more questions? Learn about what makes eSana the affordable alternative to insurance. Read through our frequently asked questions to help determine if eSana is the right choice for you.</p>
					<a href="/faqs" target="_blank" class="btn orange text-center" onclick="dataLayer.push({'event': 'Link-to-Faqs'});">
						LET'S START
					</a>
				</div>
				
			</div>
		</div>
	</div>
{% endblock %}