{# app/Resources/views/tools.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Tools Page{% endblock %}

{% block body %}
	<div class="content_container">
		Tools Page
		
		<a href="" class="btn blue">TEST</a>
	</div>
{% endblock %}