{# app/Resources/views/tools_savings_calculator.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Tool : Savings Calculator Page{% endblock %}

{% block body %}
	<div class="savings_calculator_content_wrapper">
		<div class="content_container">
			<div class="row">
				<div class="col-xs-12 col-md-offset-2 col-md-8 text-center">
					<h2>SAVINGS CALCULATOR</h1>
					<p>With the savings calculator tool, you’ll be able to see just how much money you can save when choosing eSana. Our system is designed to provide you with maximum savings.</p>
				</div>
			</div>
		</div>
		
		<div class="content_container saving_calculator_container">
			<div class="row">
				<div class="col-xs-12 col-md-offset-2 col-md-8 text-center">
					<div class="savings_calculator_field_selector_container">
						<div class="savings_calculator_field_selector_item">
							<p>Dental</p>
							
							<div class="savings_calculator_field_selector_trigger"></div>
						</div>
						
						<div class="savings_calculator_field_selector_item">
							<p>Rx</p>
							
							<div class="savings_calculator_field_selector_trigger"></div>
						</div>
						
						<div class="savings_calculator_field_selector_item">
							<p>Ancillary</p>
							
							<div class="savings_calculator_field_selector_trigger"></div>
						</div>
						
						<div class="savings_calculator_field_selector_item">
							<p>Hearing</p>
							
							<div class="savings_calculator_field_selector_trigger"></div>
						</div>
						
						<div class="savings_calculator_field_selector_item">
							<p>Chiropractic</p>
							
							<div class="savings_calculator_field_selector_trigger"></div>
						</div>
						
						<div class="savings_calculator_field_selector_item">
							<p>Vision</p>
							
							<div class="savings_calculator_field_selector_trigger"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}