{# app/Resources/views/tools.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Tools Page{% endblock %}

{% block body %}
	<div class="your-tools">
		<div class="content_container">
			<div class="row">
				<div class="col-xs-12 col-md-offset-3 col-md-6 text-center">
					<h2>YOUR TOOLS </h1>
					<p>Our free tools make it easy to find providers, savings, and the perfect plan for your <span class="tool_tip" data-tool-tip="eSana believes that health care access shouldn’t be limited to immediate family. Now, a household can include extended family and roommates.">household</span>.</p>
				</div>
			</div>
		</div>
	</div>
	<div class="savings_calc text-center">
		<div class="content_container">
			<div class="row">
				<div class="col-xs-12 col-md-6 green-bg">
					<h3>Savings Calculator</h3>
					<img src="assets/img/tools/SavingsCalculator.png"/>
				</div>
				<div class="col-xs-12 col-md-6">
					<h3>Savings Calculator</h3>
					<p>With the savings calculator tool, you’ll be able to see just how much money you can save when choosing eSana. Our system is designed to provide you with maximum savings. </p>
					<a href="/tools/savings-calculator" class="btn green text-center">
						LET'S START
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="provider_search text-center">
		<div class="content_container">
			<div class="row">
				<div class="col-xs-12 col-md-6 red-bg pull-right">
					<h3>Provider Search</h3>
					<img src="assets/img/tools/ProviderSearch.png"/>
				</div>
				<div class="col-xs-12 col-md-6">
					<h3>Provider Search</h3>
					<p>The provider search tool will allow you to find specialized providers for your <span class="tool_tip" data-tool-tip="eSana believes that health care access shouldn’t be limited to immediate family. Now, a household can include extended family and roommates.">household</span>. From dentists to chiropractic assistance, we’ll make sure that before you commit to a plan, that you'll be covered in your area.</p>
					<p>you will be redirected to our https://esana.savewithdiscounthealthcare.com/esana/providersearch site.</p>
					<a href="https://esana.savewithdiscounthealthcare.com/esana/providersearch" target="_blank" class="btn red text-center">
						LET'S START
					</a>
				</div>
				
			</div>
		</div>
	</div>
	<div class="prescription_search text-center">
		<div class="content_container">
			<div class="row">
				<div class="col-xs-12 col-md-6 blue-bg">
					<h3>Prescription Search</h3>
					<img src="assets/img/tools/PrescriptionSearch.png"/>
				</div>
				<div class="col-xs-12 col-md-6">
					<h3>PRESCRIPTION SEARCH</h3>
					<p>The Rx search will assist you in making sure the prescriptions you take will actually be covered under the plan you choose. We take the guessing out of the equation.</p>
					<p>you will be redirected to our https://esana.savewithdiscounthealthcare.com/esana/RXTools site.</p>
					<a href="https://esana.savewithdiscounthealthcare.com/esana/RXTools" target="_blank" class="btn blue text-center">
						LET'S START
					</a>
				</div>
			</div>
		</div>
	</div>
{% endblock %}